:root {  
    --primary-yellow: #FEC956;
    --primary-blue: #7D9BFF;
    --hero-bg: #FFFAF6;
    --off-white: #FAFAFA;

    --secondary-blue-purple: #561FF9;
    --light-blue: #7D9BFF;
    --black: #000000;
    --white: #FFFFFF;
    --light-grey: #F2F2F2;
    --grey: #B8B8B8;
    --secondary-orange : #FFFAF6;

    --transition: all 0.3s ease-in-out;
}



::selection { background-color: var(--primary-yellow); color: var(--black); }
.link-padding { padding: 12px 30px;  }
.btn-link-padding{ padding: 8px 20px; }
.link-yellow { background-color: var(--primary-yellow); }
.text-grey { color: #7E7E7E; }


.site-header { width: 100%; position: fixed; top: 0; z-index: 99; }
.header-wrapper { display: flex; align-items: center; justify-content: space-between; padding: 20px 0; }
.header-megamenu { height: 70px; width: 70px; border-radius: 10px; padding: 0; position: relative; border: none; transition: all 0.3s ease; }
.menu-grdnt-bg {
    display: block;
    width: calc(100%);
    height: calc(100%);
    background: linear-gradient(0deg, #FF912B 0%, #FF626B 100%);
    opacity: 70%;
    position: absolute;
    right: 0;
    z-index: 2;
    filter: blur(4px);
    transition: all 0.2s ease;
    backdrop-filter: blur(10px);
}
.header-logo-link img { width: 250px; }
.header-megamenu.active .menu-grdnt-bg { width: 700px; height: 900px; border-radius: 20px; }
.mega-menu-trigger { width: 100%; height: 70px; position: absolute; z-index: 3; padding: 0 10px; background-color: transparent; display: flex; flex-direction: column; align-items: end; justify-content: center; gap: 6px; cursor: pointer; transition: all 0.3s ease; }
.menu-lines { display: block; width: 30px; height: 4px; background-color: black; border-radius: 20px; transition: all 0.3s ease; }
.menu-line-2 { width: 40px; }
.menu-line-3 { width: 50px; }

.header-megamenu.active .mega-menu-trigger { padding-right: 30px; }
.header-megamenu.active .menu-line-1 { transform: rotate(45deg) translate(10px, 10px); width: 30px; }
.header-megamenu.active .menu-line-2 { opacity: 0; }
.header-megamenu.active .menu-line-3 { transform: rotate(-45deg) translate(7px, -7px); width: 30px; }

.menu-link { display: block; text-align: right; }
.mega-menu-content { display: none; transition: all 0.3s ease-in-out; }
.header-megamenu.active .mega-menu-content { display: block; position: relative; z-index: 5; height: 640px; width: 350px; position: absolute; right: 0; top: 120px; }
.mega-menu-content li { display: block; padding: 20px 40px; }
.mega-menu-content a { transition: var(--transition); font-family: poppins-md; }
.header-megamenu, .header-megamenu * { font-family: poppins-rg; }
.mega-menu-content a:hover { color: var(--secondary-blue-purple); font-family: poppins-sb; }

/* HEADER HIDE AND SHOW CSS */
.header-logo-link { display: inline-block; transition: var(--transition) }
.site-header.header-hide .header-logo-link { transform: translateX(-400px); opacity: 0; }
.header-megamenu { transition: var(--transition) }
.site-header.header-hide .header-megamenu { transform: translateX(400px); opacity: 0; }

/* SITE CTA */
.cta-wrapper { width: 100%; height: 610px; background-image: url(/images/footer/cta-bg.webp); background-repeat: no-repeat; background-size: cover; background-position: center; display: flex; align-items: center; justify-content: end; padding: 100px; position: relative; }
.cta-details { width: 600px; color: var(--white); text-align: center; }
.get-started-cta { display: flex; align-items: center; justify-content: center; gap: 25px; padding-top: 40px; }
.arrow-link { width: 190px; height: 80px; }
.get-started-cta .h5 { margin-bottom: 0; }
.cta-female { position: absolute; bottom: 0; left: 100px; }


/* HOMEPAGE */
.home-hero { position: relative; width: 100%; height: 1000px; overflow: hidden; background-color: var(--hero-bg); display: flex; align-items: center; justify-content: center; }
.hero-details { position: relative; z-index: 2; }
.hero-details h1 { width: 1153px; text-align: center; margin: 0 auto; margin-bottom: 60px; }
.hero-details h1 span { background-color: var(--primary-blue); color: var(--white); display: inline-block; padding: 0px 30px; border-radius: 100px; }
.site-hero-cube { position: absolute; bottom: 37px; left: 50%; transform: translateX(-49%); z-index: 1; }


.inner-site-hero-wrapper{ max-height: 700px; } .hero-wrapper .site-hero-cube { width: 733px; height: 574px; }
.hero-text-wrapper{ width: 1121px; margin: 0 auto; }
.resources-hero-laptop{ position: absolute; left: 176px; top: 198px; } 
.resourcesherocard{ position: absolute; left: 310px; bottom: 12px; }
.resourcesheroblog{ position: absolute; top: 202px; right: 169px; }
.resourcesheroemail{ position: absolute; bottom: 13; right: 250px; }

/* Tabs card */
.resources-tabs-layout {
  display: flex;
  gap: 30px;
  align-items: stretch;
}
/* .resources-card-left{ width: 370px !important; } */
.resources-card-left span{ margin-bottom: 30px; color: var(--black); }
/* Tabs list (vertical) */ 
.resources-tab-trigger {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
   width: 370px !important;
  min-width: 370px !important;  /* ADD THIS */
  max-width: 370px !important;  /* ADD THIS */
  height: max-content;
  padding: 30px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.resources-tab-trigger button {
  justify-content: flex-start;
  width: 100%;
  height: max-content;
  padding: 12px 0;
  color: var(--black);
  border-bottom: 1px solid #e5e5e5;
  border-radius: 0;
  background: transparent;  
  font-size: 18px;
}


.resources-tab-trigger button:last-child { border-bottom: none; }
.resources-tab-trigger button[data-state="active"] { 
  width: 100% !important;
  min-width: 310px !important;  /* ADD THIS */
  max-width: 310px !important;  /* ADD THIS */
  background-color: transparent !important; 
  box-shadow: none !important; 
  outline: none;  
  color: var(--primary-blue);
  outline: none !important; padding: 12px 0;
}


.resources-tab-trigger button:hover { background: transparent; }
.resources-cards{ width: 585px; height: auto;  border-radius: 20px; width: calc(50% -15px); }
.resources-cards h3{ margin-bottom: 20px; }
.date-cate-span{ display: flex; justify-content: space-between; align-items: center; padding-top: 20px; padding-bottom: 15px; }
.resources-cards image{ object-fit: cover; }
.resources-card-wrapper{ display: flex; flex-wrap: wrap; gap: 30px; }
.resources-card-right { flex: 1;}
.resources-tabs{ flex-direction: row; justify-content: space-between; gap: 30px; }

.resources-detail-wrapper{ display: flex;  align-items: flex-start; gap: 30px; padding-top: 40px; }
.resources-detail-wrapper{ background-color: var(--off-white);  }
.resources-deatil-head{ padding: 64px 0 0; }
.resources-detail-img-1{ padding-top: 60px; padding-bottom: 40px; }
.sharedby-name{ display: flex; align-items: center; justify-content: space-between; padding-bottom: 40px; }
.sharedby-date{ display: flex; flex-direction: column; align-items: flex-start; }
.resources-deatil-sub-para{ padding-bottom: 20px; }

.detail-card-btn{ display: flex; align-items: center; justify-content: space-between; padding-top: 120px; padding-bottom: 44px; }
.detail-card-btn a{ background-color: var(--secondary-blue-purple); color: var(--white); }
.detail-cards-wrapper{ display: flex; justify-content: space-between; gap: 30px; }
.resources-deatil-para{ margin-bottom: 0; }
/* .resources-detail-left{ width: 1200px; } */

.resources-detail-breadcrumb{ display: flex; gap: 0; }

/* .site-header{ background-color: var(--secondary-orange); } */
.contact-form-left{ width: 808px; }
.contact-form-fields{ padding-top: 80px; }
.contact-form-fields input { width: 100%; height: 70px; border: 1px solid #B8B8B8; margin-top: 6px; margin-bottom: 30px; padding: 10px; }
.contact-form-fields textarea{ width: 100%; height: 167px; border: 1px solid #B8B8B8; margin-top: 6px; padding: 10px;  }
.contact-form-label span{ color: red; }

.contact-form-image{ width: 772px; height: 485px; background-color: #557CFF; position: relative; }
.form-men-image{ position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); }
.form-cards{ background-color: var(--light-grey); width: 772px; height: 154px; display: flex; align-items: center; justify-content: center; flex-direction: column; gap: 8px; border: 1px solid var(--grey); padding: 20px; }
.contact-form-wrapper{ display: flex; justify-content: flex-start; gap: 60px; padding-top: 85px; } .form-cards-main{ display: flex; flex-direction: column; gap: 20px; padding-top: 30px; }
.section-padding-top{ padding-top: 236px; }
.cntct-hero-4{ bottom: 17px; }
.cnct-submit-btn{ background-color: var(--dark-blue); color: var(--white); margin-top: 57px;}
.solu-hero-4{ z-index: 2; }

.footer-main{ background-color: var(--black); }

.footer-logo-wrapper{ color: var(--white); }

