:root {  
    --primary-yellow: #FEC956;
    --primary-blue: #7D9BFF;
    --hero-bg: #FFFAF6;
    --off-white: #FAFAFA;

    --secondary-blue-purple: #561FF9;
    --light-blue: #7D9BFF;
    --black: #000000;
    --white: #FFFFFF;

    --transition: all 0.3s ease-in-out;
}

::selection { background-color: var(--primary-yellow); color: var(--black); }
.link-padding { padding: 12px 30px;  }
.link-yellow { background-color: var(--primary-yellow); }

.site-header { width: 100%; position: fixed; top: 0; z-index: 99; }
.header-wrapper { display: flex; align-items: center; justify-content: space-between; padding: 20px 0; }
.header-megamenu { height: 70px; width: 70px; border-radius: 10px; padding: 0; position: relative; border: none; transition: all 0.3s ease; }
.menu-grdnt-bg {
    display: block;
    width: calc(100%);
    height: calc(100%);
    background: linear-gradient(0deg, #FF912B 0%, #FF626B 100%);
    opacity: 70%;
    position: absolute;
    right: 0;
    z-index: 2;
    filter: blur(4px);
    transition: all 0.2s ease;
    backdrop-filter: blur(10px);
}
.header-logo-link img { width: 250px; }
.header-megamenu.active .menu-grdnt-bg { width: 700px; height: 900px; border-radius: 20px; }
.mega-menu-trigger { width: 100%; height: 70px; position: absolute; z-index: 3; padding: 0 10px; background-color: transparent; display: flex; flex-direction: column; align-items: end; justify-content: center; gap: 6px; cursor: pointer; transition: all 0.3s ease; }
.menu-lines { display: block; width: 30px; height: 4px; background-color: black; border-radius: 20px; transition: all 0.3s ease; }
.menu-line-2 { width: 40px; }
.menu-line-3 { width: 50px; }

.header-megamenu.active .mega-menu-trigger { padding-right: 30px; }
.header-megamenu.active .menu-line-1 { transform: rotate(45deg) translate(10px, 10px); width: 30px; }
.header-megamenu.active .menu-line-2 { opacity: 0; }
.header-megamenu.active .menu-line-3 { transform: rotate(-45deg) translate(7px, -7px); width: 30px; }

.menu-link { display: block; text-align: right; }
.mega-menu-content { display: none; transition: all 0.3s ease-in-out; }
.header-megamenu.active .mega-menu-content { display: block; position: relative; z-index: 5; height: 640px; width: 350px; position: absolute; right: 0; top: 120px; }
.mega-menu-content li { display: block; padding: 20px 40px; }
.mega-menu-content a { transition: var(--transition); font-family: poppins-md; }
.header-megamenu, .header-megamenu * { font-family: poppins-rg; }
.mega-menu-content a:hover { color: var(--secondary-blue-purple); font-family: poppins-sb; }

/* HEADER HIDE AND SHOW CSS */
.header-logo-link { display: inline-block; transition: var(--transition) }
.site-header.header-hide .header-logo-link { transform: translateX(-400px); opacity: 0; }
.header-megamenu { transition: var(--transition) }
.site-header.header-hide .header-megamenu { transform: translateX(400px); opacity: 0; }

/* SITE CTA */
.cta-wrapper { width: 100%; height: 610px; background-image: url(/images/footer/cta-bg.webp); background-repeat: no-repeat; background-size: cover; background-position: center; display: flex; align-items: center; justify-content: end; padding: 100px; position: relative; }
.cta-details { width: 600px; color: var(--white); text-align: center; }
.get-started-cta { display: flex; align-items: center; justify-content: center; gap: 25px; padding-top: 40px; }
.arrow-link { width: 190px; height: 80px; }
.get-started-cta .h5 { margin-bottom: 0; }
.cta-female { position: absolute; bottom: 0; left: 100px; }


/* HOMEPAGE */
.home-hero { position: relative; width: 100%; height: 1000px; overflow: hidden; background-color: var(--hero-bg); display: flex; align-items: center; justify-content: center; }
.hero-details { position: relative; z-index: 2; }
.hero-details h1 { width: 1153px; text-align: center; margin: 0 auto; margin-bottom: 60px; }
.hero-details h1 span { background-color: var(--primary-blue); color: var(--white); display: inline-block; padding: 0px 30px; border-radius: 100px; }
.site-hero-cube { position: absolute; bottom: 37px; left: 50%; transform: translateX(-49%); z-index: 1; }
.home-hero-bulb { position: absolute; left: 0; top: 190px; z-index: 2; }
.home-hero-cap { position: absolute; right: 0; top: 162px; right: 155px; z-index: 3; }
.home-hero-player { position: absolute; left: 265px; bottom: 140px; z-index: 4; }
.get-started-btn { display: flex; align-items: center; }
.arrow-link { background-color: var(--primary-yellow); padding: 25px 45px; border-radius: 50px; }
.get-started-btn { position: absolute; bottom: 145px; right: 340px; gap: 25px; z-index: 3; }
.get-started-btn .h5 { margin-bottom: 0; }

.home-statistics { background-color: var(--off-white); }
.stats-headings { display: flex; justify-content: space-between; }
.stats-headings h2 { width: 670px; }
.stats-headings .h6 { width: 620px; }

.stats-wrapper { margin-top: 60px; position: relative; }
.stats-wrapper > img { position: absolute; left: 50px; bottom: 0; }
.stats-step1, .stats-step2, .stats-step3 { display: flex; gap: 20px; }
.stats-step1 .blue-box { width: 700px;  background-color: var(--light-blue); position: relative; }
.stats-step1 .yellow-box, .stats-step2 .yellow-box, .stats-step3 .yellow-box { width: 360px; height: 240px; background-color: var(--primary-yellow); display: flex; flex-direction: column; align-items: center; justify-content: center; padding: 20px; text-align: center; }
.stats-step2 .blue-box { width: 861px; background-color: var(--light-blue);  position: relative;  }
.stats-step2 .blue-box-2 { width: 339px; background-color: var(--light-blue); position: relative; }
.stats-step3 .blue-box { width: 993px;  background-color: var(--light-blue); position: relative; }
.stats-step3 .blue-box-2 { width: 207px; background-color: var(--light-blue); position: relative; }
.stats-step1, .stats-step2 { margin-bottom: 20px; }

.stats-step1 .blue-box img { position: absolute; bottom: 0; right: 0; }
.yellow-box .h2 { margin-bottom: 10px; }

.stats-step2 .blue-box img { position: absolute; top: 0; right: 0; }
.stats-step2 .blue-box img:nth-child(2) { top: auto; bottom: 0; }
.stats-step2 .blue-box-2 img { position: absolute; left: 14px; bottom: 30px; }

.stats-step3 .blue-box img { position: absolute; bottom: 0; right: 0; }
.stats-step3 .blue-box-2 img { position: absolute; bottom: 35px; }