:root {  
    --primary-yellow: #FEC956;
    --primary-blue: #7D9BFF;
    --light-blue-tint: #F5F7FF;
    --hero-bg: #FFFAF6;
    --off-white: #FAFAFA;
    --secondary-blue-purple: #561FF9;

    --dark-blue: #481AD1;

    --light-gray: #F2F2F2;
    --mid-gray: #B8B8B8;
    --gray: #7E7E7E;
    
    --black: #000000;
    --white: #FFFFFF;

    --transition: all 0.3s ease-in-out;
}

::selection { background-color: var(--primary-yellow); color: var(--black); }
.line-white { background-color: transparent; border: 1px solid var(--black); transition: var(--transition); }
.link-padding { padding: 12px 30px;  }
.link-yellow { background-color: var(--primary-yellow);  }
.link-blue { background-color: var(--dark-blue); color: var(--white); border: 1px solid var(--dark-blue); transition: var(--transition); }
.line-white:hover, .link-blue:hover { background-color: var(--primary-yellow); color: var(--black); border: 1px solid var(--primary-yellow); }

body { background-color: var(--off-white); }

.site-header { width: 100%; position: fixed; top: 0; z-index: 99; }
.header-wrapper { display: flex; align-items: center; justify-content: space-between; padding: 20px 0; }
.header-megamenu { height: 60px; width: 70px; border-radius: 10px; padding: 0; position: relative; border: none; transition: all 0.3s ease; }
.menu-grdnt-bg {
    display: block;
    width: calc(100%);
    height: calc(100%);
    background: linear-gradient(0deg, #FF912B 0%, #FF626B 100%);
    opacity: 70%;
    position: absolute;
    right: 0;
    z-index: 2;
    filter: blur(4px);
    transition: all 0.2s ease;
    backdrop-filter: blur(10px);
}
.header-logo-link img { width: 250px; }
.header-megamenu.active .menu-grdnt-bg { width: 400px; height: 600px; border-radius: 20px; }
.mega-menu-trigger { width: 100%; height: 60px; position: absolute; z-index: 3; padding: 0 10px; background-color: transparent; display: flex; flex-direction: column; align-items: end; justify-content: center; gap: 6px; cursor: pointer; transition: all 0.3s ease; }
.menu-lines { display: block; width: 30px; height: 4px; background-color: black; border-radius: 20px; transition: all 0.3s ease; }
.menu-line-2 { width: 40px; }
.menu-line-3 { width: 50px; }

.header-megamenu.active .mega-menu-trigger { padding-right: 30px; }
.header-megamenu.active .menu-line-1 { transform: rotate(45deg) translate(10px, 10px); width: 30px; }
.header-megamenu.active .menu-line-2 { opacity: 0; }
.header-megamenu.active .menu-line-3 { transform: rotate(-45deg) translate(7px, -7px); width: 30px; }

.menu-link { display: block; text-align: right; }
.mega-menu-content { display: none; transition: all 0.3s ease-in-out; }
.header-megamenu.active .mega-menu-content { display: block; position: relative; z-index: 5; height: 640px; width: 350px; position: absolute; right: 0; top: 90px; }
.mega-menu-content li { display: block; padding: 16px 40px; }
.mega-menu-content a { transition: var(--transition); font-family: poppins-md; margin-bottom: 0; }
.header-megamenu, .header-megamenu * { font-family: poppins-rg; }
.mega-menu-content a:hover { color: var(--secondary-blue-purple); font-family: poppins-sb; }
.active-header-link { color: var(--secondary-blue-purple); font-family: poppins-sb; }

/* HEADER HIDE AND SHOW CSS */
.header-logo-link { display: inline-block; transition: var(--transition) }
/* .site-header.header-hide { display: none; } */
.site-header.header-hide .header-logo-link { transform: translateX(-400px); opacity: 0; }
.header-megamenu { transition: var(--transition) }
.site-header.header-hide .header-megamenu { transform: translateX(400px); opacity: 0; }

/* SITE CTA */
.cta-wrapper { width: 100%; height: 610px; background-image: url(/images/footer/cta-bg.webp); background-repeat: no-repeat; background-size: cover; background-position: center; display: flex; align-items: center; justify-content: end; padding: 100px; position: relative; }
.cta-details { width: 600px; color: var(--white); text-align: center; }
.get-started-cta { display: flex; align-items: center; justify-content: center; gap: 25px; padding-top: 40px; }
.arrow-link { width: 190px; height: 80px; }
.get-started-cta .h5 { margin-bottom: 0; }
.cta-female { position: absolute; bottom: 0; left: 100px; }


/* HOMEPAGE */
.home-hero { position: relative; width: 100%; height: 1000px; overflow: hidden; background-color: var(--hero-bg); display: flex; align-items: center; justify-content: center; }
.hero-details { position: relative; z-index: 2; }
.hero-details h1 { width: 1153px; text-align: center; margin: 0 auto; margin-bottom: 60px; }

/* .hero-details h1 span { background: linear-gradient(90deg, rgba(255, 145, 43, 0.7) 0%, rgba(255, 98, 107, 0.7) 100%); color: var(--white); display: inline-block; padding: 0px 30px; border-radius: 100px; } */

@keyframes gradientMove {
   0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.hero-details h1 span {
    background: linear-gradient(90deg, rgba(255, 145, 43, 0.7) 0%, rgba(255, 98, 107, 0.7) 100%);
    background-size: 200% 100%;
    color: var(--white);
    display: inline-block;
    padding: 0px 30px;
    border-radius: 100px;
    animation: gradientMove 5s ease-in-out infinite reverse; 
}

/* Keyframe animation for smooth gradient movement */


.h1-span-agentic, .h1-span-powered { background: none !important; }

.site-hero-cube { position: absolute; bottom: 37px; left: 20%; transform: translateX(-49%); z-index: 1; pointer-events: none; }
.home-hero-bulb { position: absolute; left: 0; top: 190px; z-index: 2; }
.home-hero-cap { position: absolute; right: 0; top: 162px; right: 155px; z-index: 3; }
.home-hero-player { position: absolute; left: 265px; bottom: 140px; z-index: 4; }
.get-started-btn { display: flex; align-items: center; }
.arrow-link { background-color: var(--primary-yellow); padding: 25px 45px; border-radius: 50px; }
.get-started-btn { position: absolute; bottom: 145px; right: 340px; gap: 25px; z-index: 3; }
.get-started-btn .h5 { margin-bottom: 0; }

.home-statistics { background-color: var(--off-white); position: relative; }
.home-statistics .container { position: relative; }
.three-lines { position: absolute; top: 120px; right: 100px; }
.stats-headings { display: flex; justify-content: space-between; }
.stats-headings h2 { width: 670px; }
.stats-headings .h6 { width: 620px; }

.stats-wrapper { margin-top: 60px; position: relative; }
.stats-wrapper > .stat-female-wrapper { position: absolute; left: 50px; bottom: 0; }
.stats-step1, .stats-step2, .stats-step3 { display: flex; gap: 20px; }
.stats-step1 .blue-box { width: 700px;  background-color: var(--primary-blue); position: relative; }
.stats-step1 .yellow-box, .stats-step2 .yellow-box, .stats-step3 .yellow-box { width: 360px; height: 240px; background-color: var(--primary-yellow); display: flex; flex-direction: column; align-items: center; justify-content: center; padding: 20px; text-align: center; }
.stats-step2 .blue-box { width: 861px; background-color: var(--primary-blue);  position: relative;  }
.stats-step2 .blue-box-2 { width: 339px; background-color: var(--primary-blue); position: relative; }
.stats-step3 .blue-box { width: 993px;  background-color: var(--primary-blue); position: relative; }
.stats-step3 .blue-box-2 { width: 207px; background-color: var(--primary-blue); position: relative; }
.stats-step1, .stats-step2 { margin-bottom: 20px; }
.stats-step1 .blue-box img { position: absolute; bottom: 0; right: 0; }
.yellow-box .h2 { margin-bottom: 10px; }
.stats-step2 .blue-box img { position: absolute; top: 0; right: 0; }
.stats-step2 .blue-box img:nth-child(2) { top: auto; bottom: 0; }
.stats-step2 .blue-box-2 img { position: absolute; left: 14px; bottom: 30px; }
.stats-step3 .blue-box img { position: absolute; bottom: 0; right: 0; }
.stats-step3 .blue-box-2 img { position: absolute; bottom: 35px; }


section.section.training-steps { overflow: visible !important; }
.training-steps { background-color: var(--black); color: var(--white); height: 170vh; }
.training-steps.academy-roles { height: 200vh; }
.steps-headings { display: flex; justify-content: space-between; }
.steps-headings h2, .step-img { width: 752px; }
.steps-headings .h6, .step-list { width: 705px; margin-bottom: 0; }
.steps-listings { display: flex; align-items: start; justify-content: space-between; margin-top: 60px; }
.step-list { padding: 30px 0; border-top: 1px solid var(--gray); }
.step-list span { color: var(--mid-gray); }
.step-list p { color: var(--gray); }
.step-list.active-step .h4 { color: var(--primary-blue); }
.steps-mob-accord { width: 100%; }
.steps-mob-accord h3 { margin-bottom: 0; }
.steps-mob-item { border-top: 1px solid rgba(242, 242, 242, 0.3); border-bottom: none; }
.sticky-wrapper { position: sticky !important; top: 80px; background-color: black; }
.steps-listings.steps-listing-mobile { display: none; }

.usp-lists { margin-top: 60px; display: flex; gap: 40px; }
.usp-list { width: 150px; height: 570px; background-color: var( --light-blue-tint); display: flex; flex-direction: column; align-items: center; justify-content: space-between; padding: 30px; position: relative; transition: var(--transition); cursor: pointer; }
.usp-list .list-num { width: 80px; height: 80px; background-color: var(--white); border-radius: 50%; display: flex; align-items: center; justify-content: center; }
.vertical-text { writing-mode: vertical-rl; transform: rotate(180deg); }
.usp-list.active-usp { background-color: var(--primary-blue); width: 650px; align-items: start; cursor: default; }
.usp-list.active-usp .vertical-text { transform: rotate(0deg); writing-mode: initial; }
.usp-list.active-usp p { color: var(--white); }
.usp-list.active-usp p.h4 { margin-bottom: 20px; }
.usp-list p + p { display: none; }
.usp-list.active-usp p + p { display: block; }
.usp-link { display: none; position: absolute; bottom: 0; right: 0; background-color: var(--dark-blue); color: var(--white); padding: 18px 55px; border-radius: 20px 0 20px 0; }
.usp-list.active-usp .usp-link { display: inline-block; }

.pricing-detailed-wrapper { margin-top: 140px; }
.pricing-main-box { width: 1370px; background-color: var(--light-gray); padding: 30px; margin: 0 auto; }
.plan-card-detail-wrapper { display: flex; gap: 40px; }
.card-swipe { width: 580px; height: 495px; background-color: var(--off-white); position: relative; }
.card-details { width: 685px; height: 495px; background-color: var(--off-white); }
.extra-benefits { width: 100%; background-color: #FEE4D2; margin-top: 15px; padding: 30px; display: flex; align-items: end; gap: 60px; }
.extra-benefe-title p { width: 470px; }
.benefe-list { display: flex; gap: 30px; }
.benefe-list li { display: flex; gap: 20px; margin-bottom: 10px; }
.benefe-list li:last-child { margin-bottom: 0px; }
.card-details { padding: 10px 30px 30px 30px; }
.plan-price { display: flex; align-items: center; gap: 20px; }
/* .plan-price .h2 { color: #FEAF06; } */
.plan-include-list { margin-top: 30px; }
.plan-include-list li { display: flex; gap: 20px; }
.plan-include-list li:not(:last-child) { margin-bottom: 14px; }
.planing-link { display: inline-block; padding: 14px 140px; margin-top: 60px; background-color: var(--dark-blue); color: var(--white); }

.sliding-card { width: 100%; height: 330px; position: absolute; top: 0; left: 0; z-index: 2;  transform: translateY(calc(-45px - 30px)); padding: 30px; transition: all 0.5s ease-in-out; }
.standard-card { background-color: var(--primary-yellow); color: var(--black); }
.enterprise-card { background-color: var(--dark-blue); color: var(--white); }
.pricing-cards-swipes { position: relative; }
.active-pricing-card { z-index: 3; transform: translateY(15px); }
.slide-card-title { height: 100%; display: flex; flex-direction: column; justify-content: space-between; }
.card-swipe-text p + p { color: var(--mid-gray); }

.card-swipe-text { position: absolute; bottom: 30px; left: 30px; }
.slide-card-title { position: relative; }
.slide-card-title img { position: absolute; top: 10px; right: 0; }

.trial-grwth-details { width: 730px; }
.certification-links { margin-top: 60px; display: flex; align-items: center; gap: 20px; }
.trial-grwth-wrapper { display: flex; align-items: flex-start; justify-content: space-between; }
.certificate-usp { margin-top: 100px; display: flex; align-items: center; justify-content: space-between; }
.certifi-usp { width: 300px; display: flex; align-items: center; gap: 20px; }
.certifi-usp .h5 { margin-bottom: 0; }
.certificate-usp { margin-top: 60px; }
.blog-showcase-wrapper { display: flex; justify-content: flex-end; }
.hm-blog-headings .h6 { width: 330px; max-width: 100%; }
.blog-showcase { width: 1250px; margin-top:20px; }
.blog-row { display: flex; align-items: flex-start; gap: 30px; }
.blog-list-lg { width: 705px; }
.blog-row .h4 { width: 500px; margin-bottom: 0; margin-top: 20px; }
.blog-list-sm { width: 513px; }
.blog-row + .blog-row { margin-top: 60px; flex-direction: row-reverse; }
.blog-showcase.blog-mobile { display: none; }
.certification-links { margin-top: 100px; }


.home-testimonials { background-color: var(--primary-yellow); }
.testimonial-headings { text-align: center; }
.testimonial-wrapper { margin-top: 100px; display: flex; align-items: center; justify-content: space-between; position: relative; }
.testi-list { width: 646px; height: 147px; background-color: var(--off-white); padding: 10px; }
.testi-list:not(:last-child) { margin-bottom: 50px; }
.testi-list-inner-box { width: 100%; height: 100%; background-color: var(--primary-blue); color: var(--white); border-radius: 16px; padding: 30px; display: flex; align-items: flex-start; justify-content: space-between; }
.name-initial { width: 30px; height: 30px; border-radius: 50%; background-color: #557CFF; display: flex; align-items: center; justify-content: center; }
.name-desig { display: flex; gap: 14px; }
.name-desig .name { margin-bottom: 5px; }
.ratings { display: flex; align-items: center; gap: 8px;  }
.ratings SVG { width: 18px; height: 18px;  }
.tilt-up { transform: rotate(-5deg); }
.tilt-down { transform: rotate(5deg); }

.active-testimonial-list { width: 700px; }
.active-testi-user .name .h5 { margin-bottom: 0; }
.active-testimonial-list > .h5 { margin-top: 14px; }
.active-testi-user { display: flex; align-items: start; justify-content: space-between; }
.quotation-bg { position: absolute; top: 0%; left: 52%; }

.faq-headings { text-align: center; }
.faq-row { width: calc(50% - 20px); }
.faq-lists { margin-top: 60px; display: flex;  justify-content: space-between; }
.faq-accord-item {  border: 1px solid var(--gray); padding: 0 20px; }
.faq-accord-item h3 { margin-bottom: 0; }
.faq-accord-item .h6 { margin-bottom: 0; }
.faq-accordians .faq-accord-item:not(:last-child) { margin-bottom: 20px; }




/* SOLUTIONS PAGE */
.solutions-hero { width: 100%; height: 700px; background-color: var(--hero-bg); display: flex; align-items: center; justify-content: center; position: relative; }
.hero-content { width: 1120px; text-align: center; margin: 0 auto; position: relative; z-index: 10; }
.inner-hero-cube { position: absolute; bottom: 35px;  z-index: 1; pointer-events: none;  }
.solu-hero-1 { position: absolute; top: 200px; left: 175px; }
.solu-hero-2 { position: absolute; bottom: 45px; left: 265px; }
.solu-hero-3 { position: absolute; top: 110px; right: 230px; }
.solu-hero-4 { position: absolute; bottom: 60px; right: 280px; } 

.compliance-list-headings { display: flex; align-items: flex-start; justify-content: space-between; }
.compliance-list-headings h2 { width: 660px; }
.compliance-list-headings .h6 { width: 700px; }
.compliance-lists { margin-top: 60px; }
.compliance-list { max-width: 100%; width: 500px; height: 140px; background-color: white; position: relative; border-radius: 22px; padding: 20px; cursor: pointer; }
.compliance-list::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  background: linear-gradient(to bottom, #FF626B, #FF912B);
  opacity: 70%;
  border-radius: 22px;
}
.compliance-list:hover { background-color: transparent; filter: drop-shadow(0 0 10px  #FF626B) drop-shadow(0 0 2px #FF912B); }
.compliance-link-arrow { width: 40px; height: 40px; border-radius: 50%; background-color: var(--black); display: flex; align-items: center; justify-content: center; transition: var(--transition); }
.compliance-list:hover .compliance-link-arrow { transform: rotate(45deg); }
.compli-name { display: flex; align-items: center; justify-content: space-between; }
.compliance-list p { margin-top: 10px; }
.compliance-row { display: flex; align-items: center; justify-content: center; gap: 40px; }
.compliance-row + .compliance-row { margin-top: 40px; }



/* ABOUT-US PAGE */
.cmtmnt-headings { text-align: center; }
.cmtmnt-content { width: 100%; height: 600px; margin-top: 60px; display: flex; gap: 30px; }
.mission { width: 500px; height: 100%; position: relative; padding: 40px; background-color: var(--primary-blue); }
.stats-vision { display: flex; gap: 30px; }
.vision { width: 500px; background-color: var(--primary-yellow); padding: 40px; position: relative; overflow: hidden; }
.small-stats { width: 540px; display: flex; flex-direction: column; gap: 30px; }
.mission-details { color: var(--white); margin-top: 40px; }
.mission-details p { width: 380px; }
.mission-laptop { position: absolute; bottom: 40px; right: 0; }
.mission-line { position: absolute; bottom: 40px; left: 52px; }
.learner-satisfaction { padding: 40px 48px; background-color: var(--white); }
.learner-satisfaction .h3 { margin-bottom: 0; display: flex; align-items: center; gap: 20px; }
.learner-satisfaction span { margin-bottom: 0; color: var(--gray); }
.proff-trained { padding: 62px 40px; background-color: var(--white); }
.proff-trained span { display: block; color: var(--gray); margin-top: 16px; }
.vision-details { margin-top: 40px; }
.vision-details p { width: 400px; }
.abt-pencil { position: absolute; top: 0; right: 10px; }
.abt-bulb { position: absolute; bottom: 0; right: 0; }
.number-vision { display: flex; flex-direction: column; gap: 30px; }
.full-stats { height: 100%; display: flex; align-items: center; justify-content: space-between; padding: 30px 40px; background-color: var(--white); }
.training-modules-info { height: 100%; }
.training-modules-info .h3 { height: 100%; display: flex; align-items: center;  gap: 20px; margin-bottom: 0; }
.training-modules-info .h6 { margin-bottom: 0; color: var(--gray); } 
.modules-list { display: flex; }
.modules-list img:nth-child(1) { transform: translateX(calc(20px * 3)); }
.modules-list img:nth-child(2) { transform: translateX(calc(20px * 2)); }
.modules-list img:nth-child(3) { transform: translateX(calc(20px)); }
.modules-list img:nth-child(4) { position: relative; z-index: 4; }

.why-academy-headings { display: flex; align-items: flex-start; justify-content: space-between; }
.why-academy-headings h2 { width: 730px; }
.why-academy-headings p { width: 620px; }
.why-us-lists { height: max-content; margin-top: 60px; display: flex; align-items: center; justify-content: space-between;  }
.why-us-list-item { width: 334px; height: 600px; background-color: var(--white); padding: 30px; display: flex; flex-direction: column; justify-content: space-between; cursor: pointer; }
.why-us-list-item .h1 { color: var(--light-gray); }
.item-list-details { display: flex; flex-direction: column; gap: 20px; }
.item-list-details p + p { display: none; }
.active-why-us-list .item-list-details p + p { display: block; }
.active-why-us-list { color: var(--white); }
.active-why-us-list { width: 510px; height: 800px; }
.why-us-list-item.active-why-us-list span { opacity: 0; } 
.why-list-1.active-why-us-list { background-image: url("/images/aboutpage/why-da-1.webp"); background-repeat: no-repeat; object-fit: cover; }
.why-list-2.active-why-us-list { background-image: url("/images/aboutpage/why-da-2.webp"); background-repeat: no-repeat; object-fit: cover; }
.why-list-3.active-why-us-list { background-image: url("/images/aboutpage/why-da-3.webp"); background-repeat: no-repeat; object-fit: cover; }
.why-list-4.active-why-us-list { background-image: url("/images/aboutpage/why-da-4.webp"); background-repeat: no-repeat; object-fit: cover; }
.why-us-list-item .h4 { margin-bottom: 0; }

.timeline-steps-container.mobile-timeline-steps { display: none; }
.timeline-headings { text-align: center; }
.timeline-steps-container { width: 1200px; margin: 0 auto; margin-top: 60px; display: flex; justify-content: space-between; }
.tl-step { width: 540px; padding: 30px; display: flex; align-items: center; justify-content: space-between; background-color: var(--white); position: relative; }
.step-count { width: 70px; height: 240px; display: flex; align-items: center; justify-content: center; background-color: var(--primary-blue); color: var(--white); }
.step-details { width: 380px; }
.timeline-odd-steps, .timeline-even-steps { display: flex; flex-direction: column; gap: 130px; }
.timeline-even-steps { margin-top: 215px; }
.timeline-arrow-right { position: absolute; bottom: 0; transform: translateY(100%); left: 170px; }
.timeline-arrow-left { position: absolute; bottom: 0; transform: translateY(100%); right: 170px; }

.compliance-slider { background-color: var(--primary-yellow); position: relative; }
.slider-uparrow { position: absolute; top: 80px; display: none; }
.slider-notes { position: absolute; bottom: 20px; right: 0; display: none; }
.compli-slider-headings { max-width: 100%; width: 1030px; text-align: center; margin: 0 auto; }
.abt-compliance-slider .swiper-pagination { position: relative; margin-top: 20px; }
.abt-compliance-slider .swiper-pagination-bullet { background-color: #FEAF06; opacity: 1; }
.abt-compliance-slider .swiper-pagination .swiper-pagination-bullet-active { background-color: var(--white); }
.abt-swiper-slider { margin-top: 60px; }
.slide-details { max-width: 100%; width: 700px; }

.trial-grwth-wrapper img { height: 450px; object-fit: cover; }

.coming-soon { width: 100%; height: 100vh; display: flex; align-items: center; justify-content: center; } 
.coming-soon-wrapper { display: flex; flex-direction: column; align-items: center; justify-content: center; }
.footer-call-link { margin-bottom: 6px; }
.blog-details-paragraph .h5 { margin-bottom: 0px; }
.blog-details-paragraph ul { padding-bottom: 20px; }
.blog-details-paragraph li { list-style-type: disc; list-style-position: inside; padding-bottom: 10px; }

.masked-images { width: 620px; height: 445px; display: flex; gap: 16px;  }
.abt-slide-item-wrapper { display: flex; align-items: center; justify-content: space-between; }
.img-col img:nth-child(1){ margin-bottom: 16px; }
.img-col-1 { display: flex; flex-direction: column; justify-content: flex-end; align-items: flex-end; }
.img-col-2 { justify-content: flex-start; align-items: flex-start; }
.hero-details span > span { padding: 0; }


/* 
******************
    ANIMATIONS
******************
*/

/* Pricing Lists */
@keyframes hero_rotate_left_to_right {
    0% { transform: rotate(-10deg); }
    100% { transform: rotate(10deg); }
}

@keyframes hero_zoom_in_out {
    0% { transform: scale(0.8); }
    100% { transform: scale(1); }
}

@keyframes  hero_slide_left_to_right {
    0% { transform: translateX(-10px); }
    50% { transform: translateX(10px); }
    51% { transform: translateX(10px); }
    100% { transform: translateX(-10px); }
}

@keyframes hero_slide_cross_way {
    0% { transform: translate(-5px, -5px); }
    50% { transform: translate(5px, 5px); }
    51% { transform: translate(5px, 5px); }
    100% { transform: translate(-5px, -5px); }
}

@keyframes hero_rotate_circle {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.feature-item { opacity: 0; transform: translateY(10px); transition: opacity 0.4s ease, transform 0.4s ease; }
.feature-item.animate { opacity: 1; transform: translateY(0); }

.animate-ltr { animation: hero_rotate_left_to_right 2s ease-in-out infinite alternate; }
.animate-scaleup { animation: hero_zoom_in_out 2s ease-in-out infinite alternate; }
.animate-sliding { animation: hero_slide_left_to_right 2s ease-in-out infinite alternate; }
.animate-rotate-full { animation: hero_rotate_circle 3s ease-in-out infinite alternate; }
.animate-cross-way { animation: hero_slide_cross_way 2s ease-in-out infinite alternate; }

@keyframes span-agentic {
    0% { opacity: 0; transform: scale(1.3); }
    20% { opacity: 1; transform: scale(1); }
    80% { opacity: 1; transform: scale(1); }
    100% { opacity: 0; transform: scale(0.7); }
}

.blue-span .h1-span-agentic { opacity: 0; animation: span-agentic 4s ease-in-out infinite !important; animation-delay: 0.5s !important; }
.blue-span .h1-span-powered { opacity: 0; animation: span-agentic 4s ease-in-out infinite !important; animation-delay: 1s !important; }

.legel-page { margin-top: 50px; }
.legel-page h1 { margin-bottom: 20px; }
.legel-page h2 { margin-top: 30px; margin-bottom: 10px; }
.da-site-para { margin-bottom: 0; }
.text-block a { color: var(--primary-yellow); }
.text-block ul { padding-left: 18px; }
.text-block li { list-style-type: disc; }