
@media screen and (min-width: 1800px) { .container { max-width: calc(1600px + 36px); }}

/* ======= MIN-WIDTH COMPLETED ======= */

@media screen and (max-width: 1799px) {
    .container { max-width: calc(1340px + 36px); }
    .section { padding: 130px 0; }
    h1, .h1 { font-size: 58px; line-height: 68px; }
    h5, .h5 { font-size: 22px; line-height: 32px; }

    .header-logo-link img { width: 220px; }
    .header-megamenu.active .menu-grdnt-bg { width: 350px; height: 550px; }
    .menu-link.h3 { margin-bottom: 0px; font-size: 34px; line-height: 42px; }
    .mega-menu-content li { padding: 12px 35px; }
    .mega-menu-trigger, .menu-grdnt-bg, .header-megamenu { width: 60px; height: 60px; }
    .menu-line-1 { width: 20px; }
    .menu-line-2 { width: 30px; }
    .menu-line-3 { width: 40px; }

    .hero-details h1 { width: 950px; }
    .home-hero { height: 750px; }
    .site-hero-cube { width: 750px; bottom: 80px; }
    .home-hero-bulb { width: 280px; top: 180px; left: 50px; }
    .home-hero-cap { right: 140px; width: 180px; }
    .home-hero-player { width: 200px; left: 260px; bottom: 90px; }
    .get-started-btn { right: 230px; gap: 20px; }

    .cta-female { width: 600px; }
    .cta-wrapper { height: 500px; }
    .arrow-link { width: 120px; height: 60px; padding: 0; display: flex; align-items: center; justify-content: center; }
    .arrow-link img { width: 50%; }

    .stats-step1 .yellow-box, .stats-step2 .yellow-box, .stats-step3 .yellow-box { width: 310px; height: 200px; }
    .stats-wrapper > img { width: 620px; left: 30px; }
    .stats-step1 .blue-box { width: 600px; }
    .stats-step2 .blue-box { width: 720px; }
    .stats-step2 .blue-box-2 { width: 270px; }

    .stats-step3 .blue-box { width: 820px; }
    .stats-step3 .blue-box-2 { width: 170px; }

    .steps-headings h2, .step-img { width: 650px; }
    .steps-headings .h6, .step-list { width: 600px; }

    .usp-lists { gap: 30px; }
    .usp-list { padding: 24px; height: 550px; }
    .usp-list .list-num { width: 70px; height: 70px; }

    .certifications-banner { width: 650px; }
    .trial-grwth-details { width: 630px; }
    .trial-grwth-details .h6 { margin-bottom: 0; }
    .certification-links { margin-top: 60px; }

    .blog-showcase { width: 1050px; }
    .blog-list-lg { width: 580px; }
    .blog-list-sm { width: 420px; }
    .blog-row .h4 { width: 420px; }

    .testi-list { width: 580px; height: 130px; }
    .active-testimonial-list { width: 600px; }
    .quotation-bg { width: 380px; top: 20px; }

    .solutions-hero { height: 600px; }
    .hero-content { width: 800px; }
    .inner-hero-cube { width: 550px; }
    .solu-hero-2 { width: 130px; left: 230px; }
    .solu-hero-3 { width: 130px; right: 200px; }
    .solu-hero-4 { width: 110px; right: 250px; }

    .compliance-list-headings .h6 { width: 550px; }
    .compliance-list { width: 420px; height: 160px; }
    
    img.dhatu-vault { width: 155px; }
    img.dhatu-control { width: 180px; }
    .three-lines { width: 270px; top: 140px; }

    .why-academy-headings h2 { width: 680px; }
    .why-academy-headings p { width: 520px; }
    .why-us-list-item { width: 280px; height: 500px; }
    .active-why-us-list { width: 420px; height: 700px; }

    .cmtmnt-content { height: 530px; }
    .mission { width: 400px; }
    .small-stats { width: 450px; }
    .mission-details p { width: 90%; }
    .vision { width: 420px; }
    .vision-details p { width: 90%; }
    .modules-list img { width: 60px; height: 60px; }
    .proff-trained { padding: 50px; }

    .timeline-steps-container { width: 1100px; }
    .tl-step { width: 500px; }
    .step-details { width: 320px; }
    .timeline-arrow-right, .timeline-arrow-left { width: 400px; }
    .timeline-even-steps { margin-top: 180px; }
    .step-count { height: 220px; }

    .certificate-usp { margin-top: 40px; }

    .footer-notch { width: 450px; }
    .foot-icon { font-size: 36px; }

    .coming-soon-wrapper > img { width: 850px; }

    .slide-details { width: 610px; }
    .masked-images { width: 580px; height: 420px; }
    .slider-mask-img-small { width: 230px; }
    .slider-mask-img-big { width: 280px; }
}

@media screen and (max-width: 1599px) {
    .container { max-width: calc(1200px + 36px); }
    h1, .h1 { font-size: 50px; line-height: 60px; }
    h2, .h2 { font-size: 38px; line-height: 48px; }
    h4, .h4 { font-size: 26px; line-height: 36px; }
    h5, .h5 { font-size: 20px; line-height: 30px; }
    h6, .h6 { font-size: 18px; line-height: 28px; }
    .text-18 { font-size: 16px; line-height: 24px; }
    .section { padding: 100px 0; }
    
    .header-megamenu.active .mega-menu-content { top: 80px; }
    .header-megamenu.active .menu-grdnt-bg { width: 320px; height: 500px; }
    .menu-link.h3 { font-size: 32px; line-height: 40px; }
    .header-megamenu.active .mega-menu-trigger { padding-top: 20px; }
    .mega-menu-content li { padding: 12px 36px; }
    .mega-menu-trigger, .menu-grdnt-bg, .header-megamenu { width: 45px; height: 45px; }
    .mega-menu-trigger { gap: 4px; padding: 0 8px; }
    .menu-lines { height: 3px; }
    .menu-line-1 { width: 9px; }
    .menu-line-2 { width: 19px; }
    .menu-line-3 { width: 29px; }
    .header-megamenu.active .menu-line-1 { transform: rotate(45deg) translate(9px, 9px); }
    .header-megamenu.active .menu-line-3 { transform: rotate(-45deg) translate(5px, -5px); }

    .hero-details h1 { width: 800px; margin-bottom: 40px; }
    .home-hero {  height: 670px; }
    .site-hero-cube { width: 660px; bottom: 50px; }
    .home-hero-bulb { width: 230px; left: 30px; top: 160px; }
    .home-hero-cap { width: 160px; right: 120px; }
    .home-hero-player { width: 160px; }

    .get-started-btn { right: 270px; }
    .header-logo-link img { width: 170px; }

    .cta-wrapper { height: 470px; padding: 80px; }
    .cta-details { width: 460px; }
    .get-started-cta { padding-top: 26px; }
    .cta-female { width: 550px; left: 70px; }

    .stats-headings h2 { width: 480px; }
    .stats-headings .h6 { width: 520px; }

    .stats-wrapper > img { width: 550px; }    
    .yellow-box .h6 { margin-bottom: 0; }
    .stats-step1 .yellow-box, .stats-step2 .yellow-box, .stats-step3 .yellow-box { width: 270px; height: 172px; }
    .stats-step1 .blue-box { width: 525px; }
    .stats-step2 .blue-box { width: 640px; }
    .stats-step2 .blue-box img:nth-child(2) { width: 100px; }
    .stats-step3 .blue-box img { width: 70px; }
    .stats-step2 .blue-box-2 { width: 250px; }
    .stats-step3 .blue-box { width: 730px; }
    .stats-step3 .blue-box-2 { width: 160px; }
    .stats-step3 .blue-box-2 img { width: 80px; bottom: 20px; }
    
    .steps-headings h2, .step-img { width: 600px; }
    .steps-headings .h6, .step-list { width: 520px; }
    .step-list { padding: 20px 0; }
    
    .usp-list { width: 110px; height: 460px; }
    .usp-link { padding: 16px 42px; }
    .usp-list .list-num { width: 60px; height: 60px; }
    .usp-list.active-usp { width: 500px; padding: 24px; }

    .trial-grwth-details { width: 600px; }
    .certifications-banner { width: 520px; height: 400px; object-fit: cover; }

    .blog-showcase { width: 1025px; }
    .blog-row { gap: 25px; }

    .testi-list { width: 500px; }
    .testi-list-inner-box { padding: 25px; }
    .active-testimonial-list { width: 520px; }

    .faq-content { font-size: 15px; }
    .solutions-hero { height: 500px; }
    .hero-content { width: 700px; }
    .inner-hero-cube { width: 450px; bottom: 50px; }

    .solu-hero-1 { width: 90px; top: 150px; left: 140px; }
    .solu-hero-2 { width: 110px; left: 200px; bottom: 60px; }
    .solu-hero-3 { width: 110px; top: 100px; right: 180px; }
    .solu-hero-4 { width: 100px; right: 230px; }

    .compliance-list-headings h2 { width: 520px; }
    .compliance-list { width: 370px; }

    .pricing-main-box { width: 100%; }
    .card-details { width: 570px; }
    .card-swipe { width: 530px; }
    .slide-card-title img { width: 150px; top: 20px; }
    .sliding-card { height: 310px; }
    .planing-link { padding: 14px 120px; }

    .three-lines { width: 240px; top: 140px; }

    .why-us-list-item { width: 250px; height: 400px; padding: 20px; }
    .why-academy-headings h2 { width: 520px; }
    .why-academy-headings p { width: 480px; }
    .why-us-list-item .h4 { font-size: 22px; line-height: 32px; }
    .active-why-us-list { width: 380px; height: 550px; }
    .active-why-us-list .h4 { font-size: 24px; line-height: 34px; }

    .learner-satisfaction { padding: 35px; }
    .proff-trained { padding: 40px 35px; }
    .small-stats { width: 400px;  }
    .vision { width: 360px; padding: 30px; }
    .cmtmnt-content { height: 490px; }
    
    .timeline-steps-container { width: 1000px; }
    .tl-step { width: 450px; padding: 25px; }
    .step-count { width: 55px; height: 200px; }
    .step-details { width: 300px; }
    .timeline-arrow-right, .timeline-arrow-left { width: 350px; }    

    .trial-grwth-wrapper img { height: 380px; }

    .social-link-list { top: 17px; right: 80px; }
    .footer-notch { width: 420px; }
    .foot-icon { font-size: 34px; }
    .footer-call-link, .footer-mail-link { gap: 8px; }
    .footer-call-link span, .footer-mail-link span { font-size: 15px; }

    .coming-soon { height: 90vh; }
    .coming-soon-wrapper > img { width: 800px; }
    
    .slide-details { width: 525px; }
    .masked-images { width: 550px; height: 400px; }
    .slider-mask-img-small { width: 220px; }
}

@media screen and (max-width: 1439px) {
    .container { max-width: calc(1060px + 36px); }
    h4, .h4 { font-size: 22px; line-height: 32px; }
    h5, .h5 { font-size: 18px; line-height: 28px; }
    h6, .h6 { font-size: 16px; line-height: 24px; }
    .text-18 { font-size: 14px; line-height: 20px; }
    
    .section { padding: 120px 0; }

    .menu-link.h3 { margin-bottom: 0px; font-size: 30px; line-height: 38px; }
    .header-megamenu.active .menu-grdnt-bg { width: 300px; }
    
    .home-hero { height: 620px; }
    .site-hero-cube { width: 600px; bottom: 70px; }
    .home-hero-cap { width: 130px; right: 140px; }
    .home-hero-bulb { width: 180px; left: 50px; }
    .home-hero-player { width: 140px; left: 240px; bottom: 90px; }
    .arrow-link { padding: 20px 30px; display: flex; align-items: center; justify-content: center; }
    .arrow-link img { width: 80px; }
    .get-started-btn { bottom: 110px; }
    .get-started-btn, .get-started-cta { gap: 20px; }

    
    .cta-wrapper { height: 400px; padding: 50px; }
    .cta-female { width: 500px; left: 30px; }
    
    .stats-wrapper > img { width: 500px; }
    .stats-step1 .yellow-box, .stats-step2 .yellow-box, .stats-step3 .yellow-box { height: 160px; }
    .stats-step1 .blue-box { width: 480px; }
    
    .stats-step2 .blue-box { width: 590px; }
    .stats-step2 .blue-box-2 { width: 170px; }

    .stats-step1, .stats-step2, .stats-step3 { gap: 15px; }
    .stats-step1, .stats-step2 { margin-bottom: 15px; }
    
    .stats-step3 .blue-box { width: 660px; }
    .stats-step3 .blue-box-2 { width: 100px; }
    .stats-step3 .blue-box-2 img { width: 70px; }

    .steps-headings h2, .step-img { width: 550px; }
    .steps-headings .h6, .step-list { width: 450px; }
    .step-list { padding: 15px 0; }
    .steps-listings { margin-top: 40px; }
    
    .usp-lists { gap: 25px; }
    .usp-list { width: 96px; height: 410px; }
    .usp-link { padding: 16px 36px; }

    .certifications-banner { width: 470px; height: 420px; }
    .trial-grwth-details { width: 500px; }
    .certifi-usp { width: 240px; }

    .blog-showcase { width: 865px; }
    .blog-list-lg { width: 500px; }
    .blog-list-sm, .blog-row .h4 { width: 340px; }

    .testi-list-inner-box {  padding: 20px; }
    .testi-list { width: 450px; height: 110px; }
    .quotation-bg { width: 300px; left: 50%; }
    
    .solu-hero-1 { top: 120px; left: 170px; }
    .solu-hero-3 { width: 100px; right: 200px; }
    .solu-hero-4 { width: 90px; bottom: 90px; right: 250px; }

    .compliance-list-headings .h6 { width: 480px; }
    .compliance-row { gap: 34px; }
    .compliance-list { width: 330px; height: 140px; padding: 18px; }
    .compliance-link-arrow { width: 30px; height: 30px; }
    .compliance-link-arrow img { width: 13px; height: 13px; }
    .compli-name img { width: 140px; }

    img.dhatu-pay { width: 120px; }
    img.dhatu-match { width: 150px; }
    img.dhatu-comply { width: 160px; }
    img.dhatu-mind { width: 135px; }
    img.dhatu-safety { width: 160px; }
    img.dhatu-vault { width: 145px; }
    img.dhatu-control { width: 170px; }

    .card-details, .card-swipe { height: 430px; }
    .slide-card-title img { width: 120px; top: 10px; }
    .sliding-card { height: 270px; transform: translateY(calc(-45px - 20px)); }
    .active-pricing-card { transform: translateY(10px); }
    .planing-link { padding: 14px 100px; }
    .extra-benefe-title { width: 40%; }
    .extra-benefe-title p { width: 100%; }

    .three-lines { width: 220px; top: 140px; right: 60px; }
    
    .why-academy-headings p { width: 420px; }
    .why-us-list-item { width: 220px; height: 380px; }    
    .active-why-us-list { width: 360px; height: 540px; }

    .mission, .learner-satisfaction, .proff-trained { padding: 30px; }
    .cmtmnt-content, .small-stats, .stats-vision, .number-vision { gap: 25px; }
    .small-stats { width: 320px; }
    .vision { width: 340px; }
    .cmtmnt-content { height: 450px; }
    .modules-list img { width: 55px; height: 55px; }
    .certificate-usp { margin-top: 30px; }

    .coming-soon-wrapper > img { width: 780px; }
    
    .footer-call-link span, .footer-mail-link span { font-size: 14px; }
    
    .masked-images { width: 500px; height: 360px; }
    .slider-mask-img-small { width: 190px; }
    
}

@media screen and (max-width: 1359px) {
    .section { padding: 100px 0; }
    .container { max-width: calc(960px  + 36px); }
    h4, .h4 { font-size: 24px; line-height: 32px; }
    h6, .h6 { font-size: 16px; line-height: 26px; }
    
    .header-megamenu.active .menu-grdnt-bg { height: 450px; }
    .header-megamenu.active .mega-menu-content { height: 460px; }
    .mega-menu-content li { padding: 10px 36px; }
    .mega-menu-trigger { height: 40px; }  
    .hero-details h1 { width: 80%; margin-bottom: 20px; }
    .home-hero-cap { width: 120px; right: 120px; }
    .home-hero-bulb { left: 40px; }
    .menu-link.h3 { font-size: 28px; line-height: 36px; }
    .mega-menu-content li { padding: 8px 30px; }
    .header-megamenu.active .menu-grdnt-bg { width: 250px; height: 420px; }
    .header-megamenu.active .mega-menu-content { top: 70px; }
    
    .cta-wrapper { padding: 30px; height: 350px; }
    .cta-female { width: 450px; }
    .get-started-cta { padding-top: 18px; }
    
    .stats-headings h2 { width: 440px; }
    .stats-headings .h6 { width: 460px; }
    
    .yellow-box .h2 { margin-bottom: 8px; }
    .stats-wrapper > img { width: 440px; }
    .yellow-box .h6 { line-height: 22px; }
    .stats-step1 .yellow-box, .stats-step2 .yellow-box, .stats-step3 .yellow-box { width: 240px; height: 140px; }
    .stats-step1 .blue-box { width: 440px; }
    .stats-step2 .blue-box { width: 520px; }
    .stats-step2 .blue-box img { width: 40px; }
    .stats-step2 .blue-box img:nth-child(2) { width: 80px; }
    .stats-step3 .blue-box { width: 580px; }
    .stats-step3 .blue-box-2 { width: 110px; }
    .stats-step3 .blue-box img { width: 60px; }
    
    .steps-headings h2, .step-img  { width: 480px; }
    .steps-headings .h6, .step-list { width: 400px; }
    .step-list { padding: 12px 0; }
    .usp-list { width: 80px; height: 400px; padding: 24px 18px;  }
    .usp-list .list-num { width: 45px; height: 45px; margin-bottom: 0; }
    .usp-list.active-usp { width: 435px; }
    .usp-lists { margin-top: 40px; }
    
    .certifications-banner { width: 450px; height: 440px; }
    .trial-grwth-details { width: 450px; }

    .blog-row .h4 { font-size: 22px; line-height: 32px; }
    .testi-list { width: 400px; }
    .active-testimonial-list { width: 450px; }
    .testi-list-inner-box { padding: 15px;  }
    .testimonial-wrapper { margin-top: 70px; }
    .testi-list:not(:last-child) { margin-bottom: 35px; }

    .faq-accord-item .h6 { font-size: 15px; line-height: 23px; }
    .faq-content { font-size: 14px; line-height: 22px; }
    
    .inner-hero-cube { width: 430px; bottom: 70px; }
    .solu-hero-1 { left: 130px; }
    .solu-hero-2 { width: 100px; left: 170px; bottom: 70px; }
    .solu-hero-3 { top: 90px; right: 160px; }
    .solu-hero-4 { width: 75px; right: 220px; }
    
    .compliance-list-headings .h6 { width: 380px; }
    .compliance-row { gap: 25px; }
    .compliance-list { height: 130px; padding: 15px; }
    .compliance-row + .compliance-row { margin-top: 25px; }

    img.dhatu-safety { width: 150px; }
    img.dhatu-vault { width: 135px; }
    img.dhatu-control { width: 160px; }

    .pricing-main-box { padding: 20px; }
    .plan-card-detail-wrapper { gap: 20px; }
    .card-swipe { width: 450px; }
    .card-details { width: 450px; padding: 10px 25px 25px 25px; }
    
    .sliding-card { transform: translateY(-60px); }
    .active-pricing-card { transform: translateY(20px); }

    .three-lines { width: 200px; top: 130px; right: 50px; }
    
    .why-us-lists { margin-top: 40px; }
    .why-us-list-item { padding: 18px; width: 200px; height: 360px; }
    .why-us-list-item .h4 { font-size: 18px; line-height: 26px; }
    .active-why-us-list { width: 330px; height: 520px; background-position: top right; background-size: contain; }
    
    .why-academy-headings p { width: 340px; }
    .proff-trained .h1 { font-size: 40px; line-height: 50px; }
    .abt-bulb { width: 90px; }
    .mission-laptop { width: 90px; }
    .mission-line { left: 30px; }
    .small-stats { width: 300px; }
    .vision { width: 300px; }
    .mission-details, .vision-details{ margin-top: 30px; }
    .cmtmnt-content { height: 440px; }

    .timeline-steps-container { width: 850px; }
    .tl-step { width: 390px; }
    .step-details { width: 260px; }
    .step-count { width: 45px; height: 160px; }
    .timeline-arrow-right, .timeline-arrow-left { width: 270px; }
    .timeline-even-steps { margin-top: 160px; }
    .trial-grwth-wrapper img { height: 360px; }

    .footer-notch { width: 350px; }
    .foot-icon { font-size: 30px; }
    .social-link-list ul { gap: 30px; }
    .social-link-list { top: 12px; right: 70px; }
    .coming-soon-wrapper > img { width: 750px; }

    .abt-swiper-slider { margin-top: 40px; }
    .footer-cnct-links { padding-top: 35px; }
    .slide-details { width: 430px; }
    .masked-images { width: 450px; height: 330px; }
    
}

@media screen and (max-width: 1199px) {
    h1, .h1 { font-size: 42px; line-height: 50px; }
    h2, .h2 { font-size: 32px; line-height: 40px; }
    h4, .h4 { font-size: 22px; line-height: 30px; }
    .container { max-width: calc(800px  + 36px); }
    .section { padding: 80px 0; }

    .home-hero { height: 550px; }
    .site-hero-cube { width: 520px; bottom: 40px; }
    .home-hero-cap { width: 110px; right: 100px; top: 120px; }
    .home-hero-player { width: 130px; bottom: 60px; }
    .home-hero-bulb { width: 160px; top: 180px; left: 20px; }
    .get-started-btn { bottom: 90px; }
    .arrow-link { width: 100px; height: 50px; padding: 0; }
    .arrow-link img { width: 50%; }
        
    .cta-wrapper { height: 310px; }
    .cta-details { width: 380px; }
    .cta-female { width: 390px; left: 20px; }

    .stats-headings { flex-direction: column; gap: 20px; }
    .stats-headings h2, .stats-headings .h6 { width: 70%; text-align: center; margin: 0 auto; }

    .stats-wrapper > img { width: 380px; }
    .stats-step1 .yellow-box, .stats-step2 .yellow-box, .stats-step3 .yellow-box { height: 120px; padding: 10px; }
    .stats-step1 .blue-box { width: 350px; }
    .stats-step2 .blue-box { width: 460px; }
    .stats-step2 .blue-box-2 { width: 70px; }

    .stats-step3 .blue-box-2 { display: none; }
    .stats-step3 .blue-box { width: 545px; }
    .stats-step2 .blue-box-2 img { width: 40px; }

    .steps-headings { flex-direction: column; text-align: center; }
    .steps-headings h2 { width: 70%; margin: 0 auto; margin-bottom: 20px; }
    .steps-headings .h6 { width: 70%; margin: 0 auto; }

    .steps-listings { flex-direction: column; align-items: center; gap: 40px; }
    .step-lists { display: flex; justify-content: space-between; }
    .step-img { width: 60%; }
    .step-list { width: 30%; }

    .usp-lists { gap: 20px; }
    .usp-list { width: 70px; height: 360px; padding: 20px 16px; }
    .site-radius-20 { border-radius: 14px; }
    .usp-link { border-radius: 14px 0 14px 0; padding: 14px 30px; }
    .usp-list.active-usp { width: 350px; }

    .trial-grwth-wrapper { flex-direction: column; gap: 40px; }
    .trial-grwth-details { width: 70%; text-align: center; margin: 0 auto; }
    .certification-links { justify-content: center; }
    .certifications-banner { width: 70%; height: 350px; margin: 0 auto; }

    .blog-showcase { width: 100%; }
    .blog-row { gap: 20px; }
    .blog-list-sm, .blog-row .h4 { width: 320px; font-size: 20px; line-height: 28px; }
    .blog-showcase { margin-top: 40px; }

    .testi-list { width: 330px; height: 94px; padding: 6px;  }
    .testi-list-inner-box { border-radius: 10px; }
    .active-testimonial-list { width: 400px; }
    .quotation-bg { width: 270px; left: 46%; }

    .faq-row { width: calc(50% - 10px); }

    .solutions-hero { height: 450px; }
    .hero-content { width: 580px; }
    .inner-hero-cube { width: 380px; bottom: 50px; }
    .solu-hero-1 { width: 80px; left: 100px; }
    .solu-hero-2 { width: 90px; left: 140px; }
    .solu-hero-3 { width: 90px; right: 130px; } 
    .solu-hero-4 { width: 70px; right: 180px; }

    .compliance-list-headings { flex-direction: column; align-items: center; text-align: center; }
    .compliance-list-headings h2, .compliance-list-headings .h6 { width: 70%; }
    .compliance-row { flex-wrap: wrap; justify-content: center; }
    .compliance-list { width: 370px;  height: 110px; }

    .plan-price .h2 { margin-bottom: 6px; }
    .plan-include-list { margin-top: 20px; }
    .planing-link { margin-top: 40px; padding: 14px 70px; }
    .card-swipe { width: 340px; }
    .card-details { width: 400px; }
    .slide-card-title img { width: 75px; top: 0px; }
    .sliding-card { height: 200px; padding: 20px; transform: translateY(-45px); }
    .active-pricing-card { transform: translateY(10px); }
    .card-details, .card-swipe { height: 360px; }
    .extra-benefits { gap: 30px; }
    .benefe-list { gap: 20px; }
    .benefe-list li { gap: 10px; }

    .compliance-lists { display: flex; flex-direction: column; }
    .compliance-row:nth-child(1) { order: 1; }
    .compliance-row:nth-child(2) { order: 3; }
    .compliance-row:nth-child(3) { order: 2; }

    .pricing-detailed-wrapper { margin-top: 100px; }
    .plan-include-list li:not(:last-child) { margin-bottom: 10px; }
    .planing-link { padding: 12px 40px; margin-top: 30px; }    
    .certificate-usp { margin-top: 60px; }

    .three-lines { width: 170px; top: 230px; right: 16px; }
    
    .why-us-lists { flex-direction: column; gap: 20px; }
    .why-academy-headings h2 { width: 100%; }
    .why-academy-headings p { width: 100%; }
    .why-us-list-item { width: 80%; height: 120px; flex-direction: row-reverse; }
    .active-why-us-list { height: 350px; width: 100%; background-position: center center; background-size: cover; }
    .item-list-details { justify-content: end; gap: 12px; }
    .why-academy-headings { width: 70%; flex-direction: column; margin: 0 auto; text-align: center; }

    .cmtmnt-content { flex-direction: column; align-items: center; height: auto; }
    .mission-line { display: none; }
    .mission, .vision { width: 80%; height: 200px; }
    .stats-vision { flex-direction: column-reverse; align-items: center; }
    .mission-details, .vision-details { margin-top: 10px; }
    .mission, .vision, .learner-satisfaction, .proff-trained { padding: 20px; }
    .mission-laptop { bottom: auto; top: 10px; }
    .small-stats { flex-direction: row; width: 80%; }
    .learner-satisfaction .h3 { flex-direction: column; align-items: start; }
    .learner-satisfaction, .proff-trained { width: 50%; }
    .proff-trained .h1 { font-size: 30px; line-height: 40px; margin-bottom: 0; }
    .full-stats { width: 80%; }
    .number-vision { align-items: center; }
    .proff-trained span { margin-bottom: 0; }

    .academy-roles .steps-listings{ display: none; }
    .academy-roles .steps-listing-mobile { display: flex; }
    
    .academy-roles .steps-listing-mobile .step-img { width: 100%; }
    .academy-roles .steps-listing-mobile .step-img img { width: 60%; margin: 0 auto; margin-top: 30px; }

    .timeline-steps-container { width: 100%; }
    .tl-step { width: 370px; padding: 20px; }
    .timeline-arrow-right  { left: 130px; }
    .timeline-arrow-left { right: 130px; }
    .timeline-odd-steps, .timeline-even-steps { gap: 100px; }

    .coming-soon { height: 80vh; }
    .coming-soon-wrapper > img { width: 700px; }

    .masked-images { gap: 10px; width: 410px; height: 290px; }
    .img-col img:first-child { margin-bottom: 10px; }
    .slider-mask-img-small { width: 150px; }
    .slide-details { width: 330px; }

}

@media screen and (max-width: 1023px) {}

@media screen and (max-width: 991px) {
    h1, .h1 { font-size: 36px; line-height: 46px; }
    h2, .h2 { font-size: 26px; line-height: 36px; }
    h4, .h4 { font-size: 18px; line-height: 26px; }
    h5, .h5 { font-size: 16px; line-height: 26px; }
    h6, .h6 { font-size: 14px; line-height: 22px; }

    .container { max-width: calc(700px + 36px); }
    .header-wrapper { padding: 16px 0; }
    .header-logo-link img { width: 150px; }
    .header-megamenu.active .mega-menu-content { top: 70px; }
    .header-megamenu.active .mega-menu-content { height: 400px; }

    .mega-menu-trigger, .menu-grdnt-bg, .header-megamenu { width: 40px; height: 40px; }
    .mega-menu-trigger { padding: 0 6px; }
    .menu-line-1 { width: 8px; }
    .menu-line-2 { width: 16px; }
    .menu-line-3 { width: 24px; }

    .home-hero { height: 500px; }
    .site-hero-cube { width: 500px; bottom: 30px; }
    .home-hero-cap {  width: 100px; right: 80px; top: 100px; }
    .home-hero-player { width: 120px; bottom: 50px; left: 150px; }
    .get-started-btn { bottom: 80px; right: 140px; }
    .home-hero-bulb { width: 140px; left: 0; top: 130px; }
        
    .cta-wrapper { height: 280px; }
    .cta-details { width: 300px; }
    .get-started-cta { padding-top: 0; }
    .cta-female { width: 350px; }

    .stats-headings { gap: 16px; }
    .stats-headings h2, .steps-headings h2 { width: 90%; }
    
    .stats-wrapper { margin-top: 40px; }
    .stats-step1 .yellow-box, .stats-step2 .yellow-box, .stats-step3 .yellow-box { width: 200px; }
    .stats-step2 .blue-box-2 { display: none; }
    .stats-wrapper > img { left: 15px; }

    /* .stats-step1 .blue-box { width: 330px; } */
    .stats-step1 .blue-box { width: 370px; }
    .stats-step2 .blue-box { width: 440px; }
    .stats-step3 .blue-box { width: 485px; }

    .usp-lists { flex-direction: column; align-items: center; }
    .usp-list, .usp-list.active-usp { width: 70%; }
    .usp-list { flex-direction: row; height: 70px; }
    .usp-list.active-usp { flex-direction: column; height: 300px; }
    .vertical-text { transform: rotate(0deg); writing-mode: initial; margin-bottom: 0; }
    
    .trial-grwth-details { width: 90%; }    
    .certifications-banner { width: 90%; }
    .certificate-usp { margin-top: 60px; }
    .certification-links { margin-top: 30px; }
    .certification-links { display: none; }
    .certi-link-mobile { display: flex; margin-top: 30px; }
    .certifi-usp { width: 215px; gap: 15px; }
    .blog-list-lg, .blog-list-sm { width: calc(50% - 10px); }
    .blog-row .h4 { width: 100%; font-size: 18px; line-height: 26px; }
    .blog-row + .blog-row { margin-top: 40px; }
    .certi-link-mobile { margin-top: 40px; }

    .testimonial-wrapper { width: 100%; flex-direction: column; gap: 40px; margin-top: 50px; }
    .testimonial-lists { display: flex; gap: 15px; }
    .tilt-up, .tilt-down { transform: rotate(0deg); }
    .testi-list:not(:last-child) { margin-bottom: 0; }
    .name-desig span { display: none; }
    .ratings { display: none; }
    .testi-list { width: 220px; height: 84px; }
    .testi-list-inner-box { padding: 10px; }
    .active-testimonial-list { width: 80%; margin-top: 0px; margin-bottom: 30px; }
    .quotation-bg { display: none; }

    .faq-lists { margin-top: 40px; flex-direction: column; align-items: center; gap: 20px; }
    .faq-row { width: 80%; }
    
    .hero-content { width: 500px; }
    .solu-hero-1 { top: 100px; }
    .solu-hero-2 { left: 130px; bottom: 80px; }
    .solu-hero-3 { width: 80px; right: 110px; }
    .solu-hero-4 { width: 60px; bottom: 100px; right: 150px; }
    
    .compliance-list-headings h2, .compliance-list-headings .h6 { width: 90%; }
    .compli-name img { width: 120px; }
    .compliance-list { width: 330px; height: 124px; }
    .compliance-link-arrow { width: 25px; height: 25px; }
    .compliance-link-arrow img { width: 12px; height: 12px; }

    img.dhatu-pay { width: 100px; }
    img.dhatu-safety { width: 134px; }
    img.dhatu-vault { width: 122px; }
    img.dhatu-control { width: 150px; }
    img.dhatu-comply { width: 150px; }

    .plan-card-detail-wrapper { flex-direction: column; }
    .card-swipe { width: 100%;  height: 230px; }
    .card-details { width: 100%; height: 330px; padding: 20px; }
    .sliding-card { width: 50%; }
    .card-swipe-text { width: 200px; top: 30%; left: auto; right: 30px; }
    .plans-link-wrap { justify-content: flex-start; }
    .extra-benefits { align-items: flex-start; justify-content: space-between; }
    .extra-benefe-title { width: 50%; }
    .benefe-list { flex-direction: column; gap: 10px; }

    .three-lines { display: none; }
    .why-academy-headings { width: 90%; }

    .learner-satisfaction .h3 { gap: 10px; }
    .proff-trained .h1 { font-size: 24px; line-height: 32px; }
    .proff-trained span { margin-top: 10px; }
    .mission-laptop { width: 70px; }
    .full-stats { padding: 30px; height: 100px; }
    .small-stats { height: 100px; }
    .cmtmnt-content { margin-top: 40px; }
    
    .timeline-steps-container { margin-top: 40px; }
    .step-count .vertical-text { writing-mode: vertical-rl; transform: rotate(180deg); } 
    .tl-step { width: 320px; }
    .step-details { width: 200px; }
    .timeline-arrow-right { left: 100px; }
    .timeline-arrow-left { right: 100px; }
    
    .footer-notch { width: 300px; }
    .foot-icon { font-size: 28px; }
    .social-link-list { top: 8px; right: 46px; }

    .coming-soon-wrapper > img { width: 630px; }
    .masked-images { width: 340px; height: 250px; }
    .slider-mask-img-small { width: 140px; }
    

}

@media screen and (max-width: 839px) {
    .container { max-width: calc(640px + 36px); }
    .text-18 { font-size: 12px; line-height: 20px; }
    .section { padding: 70px 0; }

    .menu-link.h3 { font-size: 26px; line-height: 32px; }
    .header-megamenu.active .mega-menu-content { top: 80px; }
    .mega-menu-content li { padding: 8px 25px; }
    .hero-details h1 { width: 85%; margin-bottom: 30px; }
    .home-hero-cap { width: 90px; right: 60px; }
    .home-hero-player { width: 110px; bottom: 60px;  }
    .home-hero-bulb { width: 130px; top: 100px; left: -10px; }

    .cta-wrapper { padding: 20px; height: 260px; }
    .cta-female { width: 330px; left: 10px; }

    .stats-step1 .blue-box, .stats-step2 .blue-box, .stats-step3 .blue-box { width: 425px; }
    .stats-step2 .blue-box img:nth-child(2) { width: 60px; }
    .stats-step3 .blue-box img { width: 50px; }

    .steps-headings .h6 { width: 80%; }
    .step-img { width: 70%; }
    .step-img img { height: 280px; object-fit: cover; }
    
    .usp-lists { gap: 15px; }
    .usp-list { height: 60px; }
    .usp-list .list-num { width: 40px; height: 40px; }
    .usp-list.active-usp { height: 260px; }
    .certificate-usp { margin-top: 60px; }
    .certifi-usp { flex-direction: column; width: 180px; text-align: center; gap: 15px; }
    .certifi-usp img { width: 30px; }
    .blog-row + .blog-row { margin-top: 30px; }
    
    .testi-list { width: 200px; }
    .inner-hero-cube { bottom: 80px; }
    .solu-hero-1 { left: 80px; }
    .solu-hero-2 { width: 80px; left: 110px; }
    .solu-hero-3 { right: 90px; }
    .solu-hero-4 { right: 130px; }    
    
    .compliance-list { width: 305px; height: 105px; }

    .compliance-row { gap: 20px; }
    .compliance-row + .compliance-row { margin-top: 20px; }

    .sliding-card { width: 55%; height: 180px; padding: 16px; }
    .slide-card-title img { width: 70px; }
    .card-swipe { height: 210px; }
    .planing-link { margin-top: 20px; }
    .card-details { height: 310px; }
    .benefe-list { width: 180px; }

    .why-us-list-item { height: 110px; }
    .item-list-details img { width: 30px; }
    .active-why-us-list { height: 300px; }

    .cmtmnt-content, .small-stats, .stats-vision, .number-vision { gap: 20px; }
    
    .tl-step { width: 300px; }
    .step-count { width: 40px; height: 140px; }
    .timeline-arrow-right, .timeline-arrow-left { width: 250px; }
    .timeline-arrow-right { left: 70px; }
    .timeline-arrow-left { right: 70px; }
    .timeline-odd-steps, .timeline-even-steps { gap: 90px; }
    .timeline-even-steps { margin-top: 130px; }

    .masked-images { width: 300px; height: 220px; }
    .slider-mask-img-small { width: 120px; }
    .slide-details { width: 300px; }
}

@media screen and (max-width: 767px) {
    h1, .h1 { font-size: 34px; line-height: 44px; }
    h2, .h2 { font-size: 24px; line-height: 34px; }
    .container { max-width: calc(600px + 36px);}
    .section { padding: 50px 0; }

    .header-megamenu.active .mega-menu-trigger { top: 10px; }    
    .hero-details h1 { width: 90%; margin-bottom: 80px; }
    .home-hero-cap { top: 90px; right: 20px; }
    .get-started-btn { bottom: 120px; right: 80px; }
    .home-hero-player { width: 100px; left: 70px; bottom: 100px; }
    .home-hero-bulb { top: 100px; width: 100px; }
    .site-hero-cube { width: 470px; bottom: 60px; }
    .cta-wrapper { height: 240px; }
    .cta-details { width: 270px; }
    .cta-female { width: 300px; }
    
    .stats-step2 .blue-box img:nth-child(2) { display: none; }
    .stats-step2 .blue-box img { width: 30px; }

    .usp-list { height: 70px; }
    .usp-list, .usp-list.active-usp { width: 80%; }
    .usp-list.active-usp { height: 270px; }
    
    .blog-showcase { margin-top: 30px; }

    .active-testimonial-list { width: 90%; }
    .testi-list-inner-box { padding: 10px; }
    .testi-list { width: 188px; height: 85px; }

    .hero-content { width: 440px; }
    .solu-hero-1 { z-index: 2; left: 40px; }
    .solu-hero-2 { left: 80px; }
    .solu-hero-3 { right: 60px; }
    .solu-hero-4 { right: 100px; }

    .compliance-list { width: 280px; height: 125px; }
    .compliance-lists { margin-top: 40px; }

    .proff-trained .h1 { font-size: 22px; line-height: 28px; }
    .proff-trained span { margin-top: 4px; }
    .mission-icon { width: 35px; height: 35px; }
    .vision-icon { width: 35px; }
    .full-stats { padding: 20px; }
    .mission, .vision, .small-stats, .full-stats { width: 90%; }
    
    .tl-step { width: 280px; }
    .step-count { width: 32px; height: 120px; }
    .step-details { width: 180px; }
    .timeline-arrow-right { left: 60px; }
    .timeline-arrow-left { right: 60px; }

    .abt-slide-item-wrapper { flex-direction: column-reverse; gap: 30px; }
    .slide-details { width: 80%; }
    .masked-images { width: 335px; height: 240px; }

}

@media screen and (max-width: 639px) {
    h1, .h1 { font-size: 30px; line-height: 40px; }
    h2, .h2 { font-size: 22px; line-height: 32px; }
    .container { max-width: calc(500px + 36px); }

    .header-megamenu.active .menu-grdnt-bg { width: 250px; height: 400px; }
    .header-megamenu.active .mega-menu-content { width: max-content; height: 350px; }
    .mega-menu-content li { padding: 8px 25px;   }
    .menu-link.h3 { font-size: 24px; line-height: 32px; }
    .header-megamenu.active .mega-menu-content { top: 76px; }
    
    .mega-menu-trigger, .menu-grdnt-bg, .header-megamenu { width: 35px; height: 35px; }
    .menu-line-1 { width: 8px; }
    .menu-line-2 { width: 15px; }
    .menu-line-3 { width: 22px; }
    
    /* .home-hero { max-height: 90vh; } */
    .hero-details h1 { width: 100%; margin-bottom: 80px; }
    .site-hero-cube { width: 400px; bottom: 100px; }
    .get-started-btn { bottom: 130px; }
    .cta-wrapper { justify-content: center; }
    .cta-details { width: 80%; }
    .cta-female { display: none; }

    .stats-headings .h6 { width: 90%; }
    .stats-wrapper { display: flex; flex-direction: column-reverse; }
    .stats-wrapper > img { position: relative; display: block; background-color: var(--primary-blue); width: 80%; left: 0; padding: 40px 30px 0 30px; border-radius: 20px; margin: 0 auto; }
    .stats-step1 .blue-box, .stats-step2 .blue-box, .stats-step3 .blue-box { display: none; }
    .steps-wrapper { margin-top: 20px; }
    .stats-step1, .stats-step2 { margin-bottom: 20px; }
    .stats-step1 .yellow-box, .stats-step2 .yellow-box, .stats-step3 .yellow-box { width: 80%; margin: 0 auto; }
    
    .steps-headings .h6 { width: 90%; }

    .yellow-box .h2 { font-size: 30px; line-height: 38px; }
    
    .step-img { width: 80%; }
    .step-img img { height: 250px; }
    .usp-list.active-usp { padding: 20px; }
    
    .trial-grwth-details, .certifications-banner { width: 100%; }
    .certifications-banner { height: 280px; }
    .certificate-usp { flex-direction: column; gap: 30px; }
    .certifi-usp { flex-direction: row; justify-content: center; width: 100%; }
    
    .blog-row, .blog-row + .blog-row { flex-direction: column; gap: 30px; }
    .blog-list-lg, .blog-list-sm { width: 100%; }
    .blog-row .h4 { width: 80%; }
    
    .name-desig .designation { display: none; }
    .testi-list { width: 150px; height: 55px; padding: 4px; }
    .name-desig .h5 { margin-bottom: 0; }
    
    .inner-hero-cube { width: 340px; }
    .hero-content { width: 420px; }
    .solu-hero-1 { top: 80px; left: 10%; width: 70px; }
    .solu-hero-2 { width: 70px; left: 13%; bottom: 95px; z-index: 2; }
    .solu-hero-3 { top: 80px; }
    .solu-hero-4 { bottom: 110px; }
    
    .compliance-row { gap: 20px; }
    .compliance-list { width: 240px; }
    .compliance-link-arrow { width: 20px; height: 20px; }
    .compliance-link-arrow img { width: 10px; height: 12px; }
    .compli-name img { width: 120px; }
    img.dhatu-pay { width: 100px; }
    img.dhatu-match { width: 120px; } 
    img.dhatu-safety { width: 125px; } 
    img.dhatu-vault { width: 120px; } 
    img.dhatu-control { width: 140px; } 
    img.dhatu-comply { width: 145px; } 
    
    .card-swipe { margin: 0 auto; }
    .sliding-card { width: 70%; left: 15%; }
    .card-swipe-text { display: none; }
    .plan-include-list img, .benefe-list img { width: 12px; }
    .plan-include-list li { gap: 12px; }
    .planing-link { padding: 8px 20px; }
    .plan-price { gap: 10px; }
    .extra-benefits { padding: 18px; }

    .modules-list img { width: 50px; height: 50px; }
    .training-modules-info .h6 { width: 150px; }
    .small-stats { height: 120px; }
    .proff-trained .h1 { font-size: 20px; line-height: 28px; }
    
    .tl-step { width: 230px; padding: 16px; }
    .step-details { width: 150px; }
    .timeline-arrow-right, .timeline-arrow-left { width: 200px; }
    .timeline-odd-steps, .timeline-even-steps { gap: 74px; }
    .timeline-even-steps { margin-top: 100px; }
        
    .footer-notch { width: 250px; }
    .foot-icon { font-size: 24px; }
    .social-link-list ul { gap: 24px; }
    .social-link-list { top: 6px; right: 38px; }
}

@media screen and (max-width: 576px) {
    h1, .h1 { font-size: 28px; line-height: 38px; }
    h2, .h2 { font-size: 20px; line-height: 28px; }
    h4, .h4 { font-size: 16px; line-height: 24px; margin-bottom: 6px; }
    
    .hero-details h1 { margin-bottom: 46px; }
    .arrow-link img { width: 50px; }
    .home-hero-player { width: 60px; left: 40px; bottom: 150px; }
    .home-hero-cap { width: 70px; top: 100px; }
    .home-hero-bulb { width: 80px; top: 100px; left: 5px; }
    .arrow-link { width: 80px; height: 40px; border-radius: 30px; }
    .get-started-btn { flex-direction: column; gap: 6px; }
    .get-started-cta { flex-direction: column; gap: 6px; }
    .arrow-link img { width: 40px; }
    .site-hero-cube { bottom: 120px; width: 370px; }
    .cta-details { width: 90%; }
    .stats-headings .h6 { width: 95%; }

    .step-img { width: 100%; }
    .step-lists { flex-wrap: wrap; }
    .step-list { width: 100%; }
    .steps-listings { display: none; }
    .steps-listings.steps-listing-mobile { display: block; }
    .steps-listings.steps-listing-mobile img { margin-top: 30px; }
    .usp-list, .usp-list.active-usp { width: 100%; }
    /* .vertical-text { margin-bottom: 0 !important; } */
    .usp-list { height: 60px; }
    .testi-list { width: 105px; }
    .active-testimonial-list { width: 100%; }
    .active-testi-user .ratings { display: flex; }
    
    .hero-content { width: 390px; }
    .inner-hero-cube { width: 320px; }
    .solu-hero-2 { left: 16%; }
    .solu-hero-3 { width: 70px; z-index: 3; right: 10%; top: 70px; }
    .solu-hero-4 { right: 12%; }

    .certification-links .link-padding { padding: 6px 15px; }
    .compliance-list { width: 90%; height: 105px; }
    .compliance-link-arrow { width: 25px; height: 25px; }
    .compliance-link-arrow img { width: 12px; height: 12px; }
    
    .sliding-card { width: 80%; left: 10%; }
    .extra-benefits { flex-direction: column; }
    .extra-benefe-title { width: 100%; }
    .benefe-list { width: 100%; }
    .extra-benefits { gap: 10px; }
    .card-details { height: 300px; }
    .extra-benefits { padding: 20px; }

    .why-us-list-item .h4 { font-size: 16px; line-height: 26px; }
    .item-list-details { gap: 8px; }
    .active-why-us-list { height: 250px; background-position: top top; }

    .small-stats { flex-direction: column; height: auto; }
    .learner-satisfaction, .proff-trained { width: 100%; }
    .full-stats { flex-direction: column; height: auto; align-items: start; gap: 10px; }
    .modules-list img:nth-child(1) { transform: translateX(0); }
    .modules-list img:nth-child(2) { transform: translateX(0); }
    .modules-list img:nth-child(3) { transform: translateX(0); }
    .modules-list { gap: 10px; }
    .proff-trained .h1, .learner-satisfaction .h3, .training-modules-info .h3 { font-size: 22px; line-height: 30px; }
    .learner-satisfaction .h3 { gap: 4px; }
    
    .timeline-steps-container { display: none; }
    .timeline-steps-container.mobile-timeline-steps { display: flex; flex-direction: column; gap: 20px; }
    .tl-step { width: 300px; }
    .step-count { height: 100px; }
    .step-details { width: 210px; }
    .timeline-odd-steps, .timeline-even-steps { gap: 212px; }
    .timeline-even-steps { margin-top: 172px; }
    .timeline-arrow-right, .timeline-arrow-left { display: none; }
    .step-2, .step-4, .step-6 { flex-direction: row-reverse; }
    .timeline-steps-container.mobile-timeline-steps { align-items: center; }
    
    .footer-notch { width: 230px; }
    .social-link-list { right: 32px; }
    .social-link-list ul { gap: 20px; }
    
    .coming-soon { height: 70vh; }
    
}

@media screen and (max-width: 480px) {}

@media screen and (max-width: 459px) {

    @keyframes hm-blog-slides {
        0% { transform: translateX(0); }
        100% { transform: translateX(calc(-100% + 310px)); }
    }

    /* .home-hero-cap { top: 72%; } */
    .site-hero-cube { bottom: 20%; }

    .header-megamenu.active .menu-grdnt-bg { opacity: 90%; }
    .site-header.header-hide .header-logo-link { transform: translateX(-100px); }
    .site-header.header-hide .header-megamenu { transform: translateX(100px); }
    .header-logo-link, .header-megamenu { transition: all 0.5s ease-in-out }
    .cta-details { width: 100%; }
 
    .stats-headings h2, .stats-headings .h6 { text-align: left; }
    .cta-details { text-align: left; }
    .get-started-cta { align-items: flex-end; }
    .hero-details h1 { mix-blend-mode: 20px; }
    .get-started-btn { bottom: 80px; }

    .stats-headings h2, .stats-headings .h6 { width: 100%; }
    .stats-wrapper { margin-top: 30px; }
    
    .stats-wrapper > img { padding: 30px 30px 0 30px; }
    .stats-step1 .yellow-box, .stats-step2 .yellow-box, .stats-step3 .yellow-box { width: 100%; height: 100px; }
    
    .steps-headings h2, .steps-headings .h6 { width: 100%; text-align: left; }
    .usp-list.active-usp { height: 300px; }
    .usp-link { padding: 12px 22px; }
     .usp-list p.h4 { margin-bottom: 0px; }
    .usp-list.active-usp p.h4 { margin-bottom: 10px; }

    .trial-grwth-details { text-align: left; }
    .certification-links { justify-content: flex-start; }
    .certificate-usp { gap: 12px; margin-top: 30px; }
    .certifi-usp { justify-content: start; }
    .name-desig > div { width: 100%; display: flex; align-items: center; justify-content: center; }
    .trial-grwth-wrapper { gap: 20px; }

    .testimonial-headings, .faq-headings { text-align: left; }
    .faq-accord-item .h6 { font-size: 14px; }
    .faq-row { width: 100%; }

    .hero-content { width: 100%; }
    .compliance-list-headings h2, .compliance-list-headings .h6 { width: 100%; text-align: left; }
    .certifi-usp .h5 { font-size: 14px; line-height: 22px; }
    .certifi-usp img { width: 24px; }
    .certifi-usp svg { width: 22px; }

    .blog-showcase { display: none; }
    .blog-list-lg, .blog-list-sm { width: 310px; }
    .blog-showcase.blog-mobile { width: max-content; display: flex; overflow-x: scroll; }
    .blog-showcase.blog-mobile .blog-row { flex-direction: row; animation: hm-blog-slides 15s linear infinite; }
    .blog-row .h4 { width: 90%; }
    .sliding-card { width: 90%; height: 165px; left: 5%; }
    .slide-card-title img { width: 65px; }
    .card-swipe { height: 195px; }
    .card-details { height: 330px; }

    .why-academy-headings { width: 100%; text-align: left; }
    .item-list-details img { width: 24px; }

    .why-us-lists { margin-top: 30px; }
    .why-us-list-item { width: 85%; }
    .active-why-us-list { width: 100%; }
    .cmtmnt-headings { text-align: left; }
    .mission, .vision, .small-stats, .full-stats { width: 100%; }
    .mission, .vision { height: 220px; }
    .mission-laptop { width: 60px; }
    .abt-bulb { width: 80px; }
    .abt-pencil { width: 40px; }
    .full-stats { gap: 20px; }

    .timeline-headings { text-align: left; }
    .academy-roles .steps-listing-mobile .step-img img { width: 100%; margin: 0 auto; margin-top: 30px; }
    .compli-slider-headings { text-align: left; }
    
    .footer-notch { width: 200px; }
    .social-link-list { top: 4px; right: 28px; }
    .social-link-list ul { gap: 18px; }
    .foot-icon { font-size: 22px; }
    .site-radius-40 { border-radius: 20px; }
    .coming-soon { height: 60vh; }

    .slide-details { width: 100%; }
}

@media screen and (max-width: 400px) {
    .section { padding: 40px 0; }
    .header-logo-link img { width: 140px; }
    .header-megamenu, .menu-grdnt-bg, .mega-menu-trigger { width: 50px; height: 50px; }
    .mega-menu-trigger { padding: 6px; gap: 5px; }
    .menu-line-1 { width: 30px; border-radius: 10px; background: linear-gradient(90deg, #FF912B 0%, #FF626B 100%); }
    .menu-line-2 { width: 30px; border-radius: 10px; background: linear-gradient(90deg, #FF912B 0%, #FF626B 100%); }
    .menu-line-3 { width: 30px; border-radius: 10px; background: linear-gradient(90deg, #FF912B 0%, #FF626B 100%); }
    
    .header-megamenu.active .mega-menu-trigger { padding-right: 16px; }
    .header-megamenu.active .menu-line-1 { transform: rotate(45deg) translate(7px, 7px); width: 30px; background: black; }
    .header-megamenu.active .menu-line-3 { transform: rotate(-45deg) translate(8px, -8px); width: 30px; background: black; }
    
    .header-megamenu.active .menu-grdnt-bg { width: 200px; height: 400px; }
    .header-megamenu.active .mega-menu-trigger { padding-top: 10px; }    
    .header-megamenu:not(.active) .menu-grdnt-bg { background: transparent; }
    .mega-menu-trigger, .menu-grdnt-bg, .header-megamenu { width: 30px; height: 30px; }
    .mega-menu-trigger { padding: 0; }
    .home-hero { height: 500px; }
    .home-hero-cap { top: 80px; }
    .home-hero-player { display: none; }
    .get-started-btn { flex-direction: column; gap: 6px; bottom: 90px; right: 50%; transform: translateX(50%); }
    .home-hero-bulb { top: 80px; }
    .site-hero-cube { bottom: 14%; }
    .stats-headings h2, .stats-headings .h6 { width: 100%; }

    .cta-wrapper { height: 220px; }
    
    .stats-headings { gap: 14px; }
    
    .stats-wrapper > img { width: 100%; }
    .certifications-banner { height: 200px; }
    .certification-links { gap: 15px; }
    
    .name-desig .h5 { font-size: 15px; }
    .blog-showcase { margin-top: 40px; }

    .solu-hero-3 { width: 60px; }
    .solu-hero-4 { width: 50px; }
    .compliance-list { width: 100%; }
    .compliance-lists { margin-top: 20px; }

    .sliding-card { width: 100%; left: 0; padding: 14px; }
    .slide-card-title img { width: 55px; }
    .card-swipe { height: 175px; }
    .card-details { height: max-content; }
    .pricing-main-box { padding: 12px; }
    .planing-link { padding: 6px 15px; }
    
    .why-us-list-item { width: 95%; height: 100px; }
    .active-why-us-list { width: 100%; height: 250px; }

    footer .section { padding-top: 80px; }
    .footer-links-wrapper { padding-top: 30px; }
    .footer-notch { width: 220px; }
    .social-link-list { right: 40px; }
    .footer-links-main { flex-wrap: wrap; gap: 40px; }
}

@media screen and (max-width: 374px) {
    .testi-list { width: 100px; }
    .footer-links-main { flex-direction: column; gap: 20px; }
    .masked-images { width: 280px; height: 206px; }
}

@media screen and (max-width: 359px) {}