@media screen and (min-width: 640px) {}
@media screen and (min-width: 768px) {}
@media screen and (min-width: 992px) {}
@media screen and (min-width: 1024px) {}
@media screen and (min-width: 1360px) {}
@media screen and (min-width: 1440px) {}
@media screen and (min-width: 1600px) {}
@media screen and (min-width: 1800px) { .container { max-width: calc(1600px + 36px); } }



/* ======= MIN-WIDTH COMPLETED ======= */


@media screen and (max-width: 1799px) {
    .container { max-width: calc(1400px + 36px); }
}

@media screen and (max-width: 1599px) {}

@media screen and (max-width: 1439px) {
    .container { max-width: calc(1364px + 36px); }
}

@media screen and (max-width: 1359px) {
    .container { max-width: calc(1150px  + 36px); }
}

@media screen and (max-width: 1199px) {
    .container { max-width: calc(980px  + 36px); }
}

@media screen and (max-width: 1023px) {}

@media screen and (max-width: 991px) {
    .container { max-width: calc(800px + 36px); }
}

@media screen and (max-width: 839px) {
    .container { max-width: calc(750px + 36px); }
}

@media screen and (max-width: 767px) {
    .container { max-width: calc(600px + 36px);}
}

@media screen and (max-width: 639px) {
    .container { max-width: calc(500px + 36px); }
}

@media screen and (max-width: 575px) {}

@media screen and (max-width: 480px) {}

@media screen and (max-width: 459px) {}

@media screen and (max-width: 400px) {}

@media screen and (max-width: 374px) {}

@media screen and (max-width: 359px) {}