@media screen and (min-width: 640px) {}
@media screen and (min-width: 768px) {}
@media screen and (min-width: 992px) {}
@media screen and (min-width: 1024px) {}
@media screen and (min-width: 1360px) {}
@media screen and (min-width: 1440px) {}
@media screen and (min-width: 1600px) {}
@media screen and (min-width: 1800px) { .container { max-width: calc(1600px + 36px); } }



/* ======= MIN-WIDTH COMPLETED ======= */


@media screen and (max-width: 1799px) {
    .container { max-width: calc(1400px + 36px); }

    .header-megamenu.active .menu-grdnt-bg { width: 600px; height: 780px; }
    .menu-link.h3 { margin-bottom: 16px; }

    .home-hero { height: 900px; }
    .site-hero-cube { width: 900px; }
    .home-hero-bulb { width: 350px; top: 150px; left: -50px; }
    .home-hero-cap { right: 70px; }
    .home-hero-player { left: 210px; bottom: 90px; }
    .get-started-btn { right: 230px; }

}

@media screen and (max-width: 1599px) {
    h1, .h1 { font-size: 70px; line-height: 80px; }
    
    .header-megamenu.active .mega-menu-content { top: 100px; }
    .header-megamenu.active .menu-grdnt-bg { width: 500px; height: 720px; }
    .mega-menu-content li { padding: 15px 60px; }

    .home-hero-bulb { width: 310px; top: 180px; }
    .home-hero-cap { width: 210px; right: 50px; }

}

@media screen and (max-width: 1439px) {
    .container { max-width: calc(1364px + 36px); }
    .section { padding: 120px 0; }

    .menu-link.h3 { margin-bottom: 10px; }
    .header-megamenu.active .menu-grdnt-bg { width: 450px; height: 650px; }
    .home-hero { height: 860px; }
    .site-hero-cube { width: 850px; bottom: 70px; }
    .home-hero-cap { width: 200px; right: 30px; }
    .home-hero-bulb { width: 270px; }
    .home-hero-player { width: 220px; left: 150px; bottom: 120px; }
    .arrow-link { padding: 20px 30px; }
    .arrow-link img { width: 80px; }
    .get-started-btn { gap: 20px; }

}

@media screen and (max-width: 1359px) {
    .section { padding: 100px 0; }
    h1, .h1 { font-size: 60px; line-height: 70px; }
    h5, .h5 { font-size: 22px; line-height: 32px; }

    .container { max-width: calc(1150px  + 36px); }
    .header-megamenu.active .menu-grdnt-bg { width: 410px; height: 570px; }
    .header-megamenu.active .mega-menu-content { height: 460px; }
    .menu-link.h3 { margin-bottom: 0; }
    .mega-menu-content li { padding: 10px 50px; }
    .menu-line-1 { width: 20px; }
    .menu-line-2 { width: 30px; }
    .menu-line-3 { width: 40px; }
    .header-logo-link img { width: 240px; }
    .mega-menu-trigger { padding: 10px; width: 60px; height: 60px;  }
    .menu-grdnt-bg, .header-megamenu { width: 60px; height: 60px; }
    .header-megamenu.active .mega-menu-trigger { padding-right: 20px; }
    
    .home-hero { height: 750px; }  
    .hero-details h1 { width: 80%; margin-bottom: 80px; }
    .site-hero-cube { width: 740px; bottom: 90px; }
    .home-hero-bulb { width: 250px; top: 140px; }
    .home-hero-cap { width: 160px; }
    .home-hero-player { width: 200px; bottom: 160px; left: 120px; }
    .get-started-btn { bottom: 180px; right: 180px; }
}

@media screen and (max-width: 1199px) {
    .container { max-width: calc(980px  + 36px); }

    .home-hero-player { display: none; }
    .hero-details h1 { width: 90%; margin-bottom: 60px; }
    .get-started-btn {  right: 100px; }
    .home-hero { height: 700px; }
    .site-hero-cube { width: 680px; }
    .get-started-btn { bottom: 140px; }
    .arrow-link img { width: 60px; }
    .home-hero-bulb { width: 200px; }
    .home-hero-cap { width: 140px; top: 120px; right: 20px; }
    .home-hero.section { padding-top: 120px; }

}

@media screen and (max-width: 1023px) {}

@media screen and (max-width: 991px) {
    h1, .h1 { font-size: 50px; line-height: 60px; }
    .container { max-width: calc(800px + 36px); }

    .header-logo-link img { width: 200px; }
    .header-megamenu.active .mega-menu-content { top: 70px; }
    .header-megamenu.active .menu-grdnt-bg { width: 350px; height: 500px; }
    .mega-menu-content li { padding: 10px 30px; }
    .menu-link.h3 { font-size: 32px; line-height: 42px; }
    .header-megamenu.active .mega-menu-content { height: 400px; }
    .home-hero { max-height: 100vh; }
    .home-hero.section { padding-top: 100px; }
    .site-hero-cube { width: 600px; bottom: 50px; }
    .get-started-btn { bottom: 90px; }
    .hero-details h1 { margin-bottom: 0px; }
    .home-hero-bulb { top: 360px; } 

}

@media screen and (max-width: 839px) {
    .container { max-width: calc(750px + 36px); }
    .menu-link.h3 { font-size: 30px; line-height: 38px; }
    .header-megamenu.active .mega-menu-content { top: 80px; }
    
    .hero-details h1 { width: 100%; }
    .home-hero-cap { width: 120px; }
}

@media screen and (max-width: 767px) {
    .container { max-width: calc(600px + 36px);}

    .hero-details h1 { text-align: left; }
    .home-hero-bulb { display: none; }
    .get-started-btn { right: auto; left: 18px; }

}

@media screen and (max-width: 639px) {
    h1, .h1 { font-size: 40px; line-height: 50px; }
    .container { max-width: calc(500px + 36px); }
    .section { padding: 80px 0; }
    .home-hero.section { padding-top: 80px; }

    .header-megamenu.active .menu-grdnt-bg { width: 250px; }
    .header-megamenu.active .mega-menu-content { width: max-content; height: 350px; }
    .mega-menu-content li { padding: 8px 25px;   }
    .menu-link.h3 { font-size: 24px; line-height: 32px; }
    .header-megamenu.active .mega-menu-content { top: 90px; }
    
    .home-hero { max-height: 90vh; }
    .hero-details h1 { margin-bottom: 40px; }
    .site-hero-cube { width: 90%; }
    .home-hero-cap { top: 45%; }

}

@media screen and (max-width: 575px) {
    .home-hero { display: block; max-height: 70vh; }
    .hero-details h1 { padding-top: 50px; }
    h5, .h5 { font-size: 20px; }
    .arrow-link img { width: 50px; }
    .home-hero-cap { top: 60%; }
}

@media screen and (max-width: 480px) {}

@media screen and (max-width: 459px) {
    .h1, h1 { font-size: 32px; line-height: 42px; }
    .hero-details h1 { padding-top: 60px; }    
    .home-hero-cap { top: 72%; }
    .get-started-btn { bottom: 170px; }
    .site-hero-cube { bottom: 20%; }

    .header-megamenu.active .menu-grdnt-bg { opacity: 90%; }
    .site-header.header-hide .header-logo-link { transform: translateX(-100px); }
    .site-header.header-hide .header-megamenu { transform: translateX(100px); }
    .header-logo-link, .header-megamenu { transition: all 0.5s ease-in-out }
     
}

@media screen and (max-width: 400px) {
    h1, .h1 { font-size: 30px; line-height: 40px; }
    h5, .h5 { font-size: 18px; line-height: 28px; }
    .header-logo-link img { width: 160px; }
    .header-megamenu, .menu-grdnt-bg, .mega-menu-trigger { width: 50px; height: 50px; }
    .mega-menu-trigger { padding: 6px; gap: 5px; }
    .menu-line-1 { width: 15px; }
    .menu-line-2 { width: 25px; }
    .menu-line-3 { width: 35px; }
    .header-megamenu.active .menu-grdnt-bg { height: 450px; }
    .header-megamenu.active .menu-line-1 { transform: rotate(45deg) translate(7px, 7px); width: 30px; }
    .header-megamenu.active .menu-line-3 { transform: rotate(-45deg) translate(8px, -8px); width: 30px; }
    .home-hero-cap { width: 130px; }
    .home-hero { max-height: 560px; }
}

@media screen and (max-width: 374px) {}

@media screen and (max-width: 359px) {}