@media screen and (min-width: 640px) {}
@media screen and (min-width: 768px) {}
@media screen and (min-width: 992px) {}
@media screen and (min-width: 1024px) {}
@media screen and (min-width: 1360px) {}
@media screen and (min-width: 1440px) {}
@media screen and (min-width: 1600px) {}
@media screen and (min-width: 1800px) { .container { max-width: calc(1600px + 36px); } }



/* ======= MIN-WIDTH COMPLETED ======= */


@media screen and (max-width: 1799px) {
    .container { max-width: calc(1400px + 36px); }

    .header-megamenu.active .menu-grdnt-bg { width: 600px; height: 780px; }
    .menu-link.h3 { margin-bottom: 16px; }

}

@media screen and (max-width: 1599px) {
    .header-megamenu.active .mega-menu-content { top: 100px; }
    .header-megamenu.active .menu-grdnt-bg { width: 500px; height: 720px; }
    .mega-menu-content li { padding: 15px 60px; }
}

@media screen and (max-width: 1439px) {
    .container { max-width: calc(1364px + 36px); }
    .menu-link.h3 { margin-bottom: 10px; }
    .header-megamenu.active .menu-grdnt-bg { width: 450px; height: 650px; }

}

@media screen and (max-width: 1359px) {
    .container { max-width: calc(1150px  + 36px); }
    .header-megamenu.active .menu-grdnt-bg { width: 410px; height: 570px; }
    .header-megamenu.active .mega-menu-content { height: 460px; }
    .menu-link.h3 { margin-bottom: 0; }
    .mega-menu-content li { padding: 10px 50px; }
    .menu-line-1 { width: 20px; }
    .menu-line-2 { width: 30px; }
    .menu-line-3 { width: 40px; }
    .header-logo-link img { width: 240px; }
    .mega-menu-trigger { padding: 10px; width: 60px; height: 60px;  }
    .menu-grdnt-bg, .header-megamenu { width: 60px; height: 60px; }
    .header-megamenu.active .mega-menu-trigger { padding-right: 20px; }
}

@media screen and (max-width: 1199px) {
    .container { max-width: calc(980px  + 36px); }
}

@media screen and (max-width: 1023px) {}

@media screen and (max-width: 991px) {
    .container { max-width: calc(800px + 36px); }

    .header-logo-link img { width: 200px; }
    .header-megamenu.active .mega-menu-content { top: 70px; }
    .header-megamenu.active .menu-grdnt-bg { width: 350px; height: 500px; }
    .mega-menu-content li { padding: 10px 30px; }
    .menu-link.h3 { font-size: 32px; line-height: 42px; }
    .header-megamenu.active .mega-menu-content { height: 400px; }

}

@media screen and (max-width: 839px) {
    .container { max-width: calc(750px + 36px); }
    .menu-link.h3 { font-size: 30px; line-height: 38px; }
    .header-megamenu.active .mega-menu-content { top: 80px; }

}

@media screen and (max-width: 767px) {
    .container { max-width: calc(600px + 36px);}
}

@media screen and (max-width: 639px) {
    .container { max-width: calc(500px + 36px); }
    .header-megamenu.active .menu-grdnt-bg { width: 250px; }
    .header-megamenu.active .mega-menu-content { width: max-content; height: 350px; }
    .mega-menu-content li { padding: 8px 25px;   }
    .menu-link.h3 { font-size: 24px; line-height: 32px; }
    .header-megamenu.active .mega-menu-content { top: 90px; }


}

@media screen and (max-width: 575px) {}

@media screen and (max-width: 480px) {}

@media screen and (max-width: 459px) {}

@media screen and (max-width: 400px) {
    .header-logo-link img { width: 160px; }
    .header-megamenu, .menu-grdnt-bg, .mega-menu-trigger { width: 50px; height: 50px; }
    .mega-menu-trigger { padding: 6px; gap: 5px; }
    .menu-line-1 { width: 15px; }
    .menu-line-2 { width: 25px; }
    .menu-line-3 { width: 35px; }
    .header-megamenu.active .menu-grdnt-bg { height: 450px; }
    .header-megamenu.active .menu-line-1 { transform: rotate(45deg) translate(7px, 7px); width: 30px; }
    .header-megamenu.active .menu-line-3 { transform: rotate(-45deg) translate(8px, -8px); width: 30px; }
}

@media screen and (max-width: 374px) {}

@media screen and (max-width: 359px) {}